@page
@using Volo.Abp.Users
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages
@model Unity.GrantManager.Web.Pages.IndexModel
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
    <abp-script src="/Pages/Template/Index.js" />
}

@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = "Home";
}


@* @if (CurrentUser.IsAuthenticated)
{
    <form asp-page-handler="cancel" method="post" class="div-login-logout">
        <button class="btn btn-primary">Logout</button>
    </form>
}
else
{
    <div class="d-flex justify-content-end div-login-logout">
        <button type="button" class="btn btn-primary" onclick="window.location.href = '/GrantApplications';">LOGIN TO UNITY</button>
    </div>
} *@
<div class="home-container">
    <div id="welcomeContent" style="display: block;">
        <div class="row w-100 align-items-center home-div justify-content-center">
            <div class="col-md-4 div-left">
                <div class="row">
                    <div class="labels-container  justify-content-center">
                        <div> <h1 class="home-bold-display mt-8"> User-Friendly Grant<br> Management Solution</h1></div>
                        <div class="py-3 home-h1">
                            <h1>Designed By Government For <br />Government</h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start pt-2 ">
                            <div class="d-flex">
                                <a href="mailto:unitysupport@gov.bc.ca" class="btn btn-primary">REQUEST ACCESS</a>
                            </div>
                            <div class="d-flex ml-1">
                                <button type="button" class="btn btn-secondary btn-forms-templte">CHECK OUT TEMPLATES</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-image-container">
                    <img src="/images/homepage/applications.png" alt="home-applcation-page">
                </div>
            </div>
            </div>
        <div class="div-features">
            <div class="w-100 align-items-center home-label">
                <div class="text-center">
                    <h2 class="home-h2 div-common">Features That <span class="home-heading">Make Your Work Easier</span> </h2>
                </div>
            </div>


            <div class="row w-100 align-items-center home-div justify-content-center">

                <div class="col-md-4 div-left">
                    <div class="home-image-container max-height-container">
                        <img src="/images/homepage/forms.png" alt="home-forms-page">
                    </div>
                </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="labels-container pl-3 justify-content-center">
                            <h4 class="py-3 home-h4"><span class="home-heading">Design Tailored Experiences: </span>Grant Application & Reporting Forms</h4>
                            <p class="description p-1">
                                Transform the design and development of your grant application and reporting templates with our customizable forms. Design, build, publish, and efficiently collect submissions using an innovative common form component (CHEFS) built by the B.C. Government.
                            </p>
                            <p class="link"><a href="https://submit.digital.gov.bc.ca/app/">Explore CHEFS</a></p>
                    </div>
                </div>
            </div>

        </div>

            <div class="row w-100 align-items-center home-div justify-content-center">
 
                <div class="col-md-4 div-left">
                    <div class="row">
                        <div class="labels-container justify-content-center">
                            <h4 class="py-3 home-h4"><span class="home-heading">Customized View </span>Effortlessly Manage Applications  <br />and Reports</h4>
                            <p class="description p-1">Elevate your grant management capabilities with personalized views for  <br />administering applications and reports. Craft your unique program views  by highlighting the essential information - enabling you to concentrate  on the critical details. Seamlessly navigate through application data with intuitive sorting functionalities, including dynamic assignment of team members, tasks, and milestone dates.</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="home-image-container max-height-container">
                        <img src="/images/homepage/customized_applications.png" alt="home-custom-app-page">
                    </div>
                </div>

        </div>

            <div class="row w-100 align-items-center home-div justify-content-center">

                <div class="col-md-4 div-left">
                    <div class="home-image-container max-height-container">
                        <img src="/images/homepage/status.png" alt="home-status-page">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="labels-container pl-3 justify-content-center">
                            <h4 class="py-3 home-h4">
                                Streamlined Status Tracking: <span class="home-heading">
                                    Applications,Reports, and Payments
                                </span>
                            </h4>
                            <p class="description p-1">Effectively monitor the status of applications, reports, and payments with our streamlined system. Receive real-time updates on application progress, report submissions, and payment statuses, ensuring nothing slips through the cracks. Stay organized with clear overviews of pending, approved, and rejected items, and receive timely alerts for overdue items. Our intuitive interface offers transparency and efficiency, empowering you to make informed decisions and maintain smooth operations throughout the grant management process.</p>
                        </div>
                    </div>
                </div>



        </div>

            <div class="row w-100 align-items-center home-div justify-content-center">


                <div class="col-md-4 div-left">
                    <div class="row">
                        <div class="labels-container justify-content-center">
                            <h4 class="py-3 home-h4">
                                Unlock the Power of Data Visualization:<br /> <span class="home-heading"> Personalized Charts and Graphs at Your Fingertips </span>
                            </h4>
                            <p class="description p-1">Discover the ease of generating comprehensive reports with Metabase, unlocking invaluable insights into your grant program metrics. With our reporting component, effortlessly track funding allocation, recipient demographics, timelines, and industry/sector details. Visualize data spatially, streamline decision-making, and gain clarity on the impact of your grants.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="home-image-container max-height-container">
                        <img src="/images/homepage/dashboard.png" alt="home-dashboard-page">
                    </div>
                </div>
            <div class="col-md-1"></div>
        </div>
        </div>
        <div class="labels-container justify-content-center text-center div-contact">
            <h2 class="py-3">
                Contact Us For <span class="home-heading"> Onboarding and Support </span>
            </h2>
        </div>

        <div class="row w-100 align-items-center pb-12">
            <div class="col-md-5"></div>
            <div class="col-md-2 d-flex flex-column align-items-center text-center">
                <div class="support-image-container pt-2">
                    <img src="/images/homepage/unity.svg" alt="home-unity-page">
                </div>
                <div class="labels-container justify-content-center">
                    <div class="text-center">
                        <p class="description">
                            Unity Support:
                            <br />
                            <a class="link" href="mailto:unitysupport@gov.bc.ca">unitysupport@gov.bc.ca</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
    <!-- Forms Template Library (initially hidden) -->
    <div id="formsTemplateLibrary" class="mt-6" style="display: none;">
        <div class="row">
            <div class="row w-100 align-items-center text-center">
                <div> <h1 class="home-bold-display"> Forms Template Library</h1></div>
                <div class="py-3 labels-container d-flex flex-column align-items-center">
                    <h2 class="p-1 home-h4">Use these easy-to-use templates as your starting point</h2>
                    <button type="button" class="btn btn-secondary btn-forms-templte scrol-to-steps">HOW TO USE THE TEMPLATES</button>
                   @*  <p class="link scrol-to-steps"><a href="#">HOW TO USE THE TEMPLATES</a></p> *@
                </div>
            </div>
            <div class="home-div div-data-table">
                <div class="templates-scrollable-content">
                    <div id="filter-container" class="filter-container">
                        <abp-button id="addTemplate"
                                    text="ADD NEW TEMPLATE"
                                    class="btn btn-bar" />
                        <abp-button text="FILTER" class="btn btn-bar" id="filter-btn"></abp-button>
                    </div>

                    <abp-table id="templateList" class="display"></abp-table>
                </div>
            </div>
            <div class="row">
                <div class="labels-container pl-3 justify-content-center text-center div-common">
                    <h2 class="py-3"><span class="home-heading">Use Templates</span> In 3 Simple Steps</h2>
                </div>
            </div>
            <div class="row w-100 align-items-center div-use-template mb-9 justify-content-center" id="div-use-template">

                <div class="col-md-4 div-left">
                    <div class="home-image-container">
                        <img src="/images/homepage/new-form-chefs.png" alt="home-forms-page">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="labels-container pl-3 justify-content-center">
                            <h4 class="py-3 home-h4">Step 1: <span class="home-heading">Create A New Form In CHEFS</span></h4>
                            <p class="description p-1">Go to CHEFS portal. After login in click “Create a New Form” in the top left corner of the interface. Fill in all the required information for your new form like name, form access, etc. After you are done click “Continue” on the bottom of the page.</p>
                            <p class="link"><a href="https://submit.digital.gov.bc.ca/app/">Login to CHEFS</a></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row w-100 align-items-center mb-9 justify-content-center">

                <div class="col-md-4 div-left">
                    <div class="row">
                        <div class="labels-container justify-content-center">
                            <h4 class="py-3 home-h4">Step 2: <span class="home-heading">Import Downloaded Template File</span></h4>
                            <p class="description p-1">On the next page click the small up-facing arrow on the right side of the page. Locate the template file that you just downloaded (most likely in your Downloads folder) and click open.</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="home-image-container">
                        <img src="/images/homepage/import_downloded.png" alt="home-custom-app-page">
                        @* <div class="magnifier"></div> *@
                    </div>
                </div>

            </div>

            <div class="row w-100 align-items-center mb-9 justify-content-center">
                <div class="col-md-4 div-left">
                    <div class="home-image-container">
                        <img src="/images/homepage/customize_form.png" alt="home-status-page">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="labels-container pl-3 justify-content-center">
                            <h4 class="py-3 home-h4">Step 3: <span class="home-heading">Customize The Form To Fit Your Need</span></h4>
                            <p class="description p-1">Make additional changes to the form that are required based on your need; Changing images, tabs, elements, text, fields, etc. After that you can publish the form and get the data populated straight into Unity where you can make sense of the data, do assessments, export reports and track all of the progress!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-features">
                <div class="labels-container justify-content-center text-center div-contact pb-2">
                    <h2 class="py-3 home-h4">
                        Contact Us For <span class="home-heading"> Support </span>
                    </h2>
                </div>
                <div class="col-md-12 d-flex flex-column align-items-center text-center">
                    <div class="support-image-container">
                        <img src="/images/homepage/unity.svg" alt="home-unity-page">
                    </div>
                    <div class="labels-container justify-content-center home-div">
                        <div class="text-center">
                            <p class="description">
                                Unity Support:
                                <br />
                                <a class="link" href="mailto:unitysupport@gov.bc.ca">unitysupport@gov.bc.ca</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
