
.home-container {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    background: #FFF;
    padding-top: 5rem;
    margin-top:0.1rem;
}
.home-div{
    padding-bottom:7rem;
}
.div-login-logout {
    position: absolute;
    right: 25px;
    top: 25px;
}
.home-heading {
    font-weight: 700;
}
.home-label{
    margin-top:7rem;
}
.home-heading span {
    display: block;
}
.pl-3
{
    padding-left:3rem;
}
.labels-container .description {
    font-size: var(--bc-font-size-sm);
}
.home-image-container {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
    .home-image-container img {
        max-width: 100%;
    }
.magnifier {
    position: absolute;
    width: 50px; /* Adjust the size of the magnifier */
    height: 50px; /* Adjust the size of the magnifier */
    background-image: url('../images/homepage/magnifier.svg'); 
    background-size: cover;
    cursor: zoom-in;
    /* Adjust position to place the magnifier where you want */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.max-height-container {
    max-height: 285px;
    overflow: hidden;
}
.labels-container .link {
    font-size: var(--bc-font-size-sm);
    color: var(--bc-colors-blue-primary);
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}
    .labels-container .link a {
        text-decoration: none;
        font-weight:700;
    }
.contact-image-container, .support-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 11rem;
}
    .contact-image-container img {
        width: 55%;
    }
    .support-image-container img {
        margin-top:2rem;
        width:60%;
    }
.pb-2 {
    padding-bottom: 2rem;
}
.pt-2 {
    margin-top: 2rem;
}
.pb-12 {
    padding-bottom: 12rem;
}
.templates-scrollable-content {
    overflow-y: scroll;
    background-color: var(--bc--surface-color-brand-gray-20);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem
}

.filter-container {
    align-self: flex-end;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
}
    .filter-container button {
        margin-left: 10px; 
    }
.dataTables_wrapper .dataTables_filter {
    float: left;
}
   