@page
@using Microsoft.Extensions.Localization
@using Notifications.Localization
@using Notifications.Web.Pages.Notifications
@model Notifications.Web.Pages.Notifications.IndexModel
@inject IStringLocalizer<NotificationsResource> L

@{
}
<h1>Notifications</h1>
<p>@L["SamplePageMessage"]</p>
