
.breadcrumb-container {
    background-color: #fff;
    margin: 0 -0.5rem;
    padding: 0.75rem 1rem;
    display: flex;
}

.application-details-breadcrumb {
    display: flex;
    align-items: center;
}

.application-details-breadcrumb .reference-no {
    font-weight: 700;
}

.application-details-breadcrumb .applicant-name {
    font-weight: 400;
    color: var(--bc-type-color-secondary);
    margin-left: 0.75rem;
    padding-right: 0.75rem !important;
}

    .application-details-breadcrumb .form-version {
        font-weight: 400;
        color: var(--bc-type-color-secondary);
        font-size: 0.8rem;
    }

.application-details-breadcrumb .application-status {
    font-weight: 700;
    color: var(--bc-colors-blue-text-links);
    text-transform: uppercase;
    border: 3px solid var(--bc-colors-blue-text-links);
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.125rem 0.5rem;
    margin: 0 0.5rem;
    margin-top: 2px;
}

