
.breadcrumb-container {
    background-color: #fff;
    margin: 0 -0.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    margin-top: 1px;
}

.applicant-details-breadcrumb {
    display: flex;
    align-items: center;
}

.applicant-details-breadcrumb .unity-applicant-id {
    font-weight: 700;
}

.applicant-details-breadcrumb .applicant-name {
    font-weight: 400;
    color: var(--bc-type-color-secondary);
    margin-left: 0.75rem;
    padding-right: 0.75rem !important;
}

.applicant-details-breadcrumb .applicant-status {
    font-weight: 700;
    color: var(--bc-colors-blue-text-links);
    text-transform: uppercase;
    border: 3px solid var(--bc-colors-blue-text-links);
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.125rem 0.5rem;
    margin: 0 0.5rem;
    margin-top: 2px;
}