#ApplicationFormsTable_filter label {
    font-size: var(--bc-font-size-sm);
    color: var(--bc-colors-grey-text-300);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    margin-right: 5px;
}

#ApplicationFormsTable_filter input {
    margin: 0.25rem;
}

#ApplicationFormsTable_wrapper .dt-scroll-body {
    max-height: calc(100vh - 350px);
    overflow-y: scroll;
}

#FormsManageDropdown a {
    cursor: pointer;
}

#ApplicationForm_ApplicationFormName {
    color: var(--bc-colors-grey-text-200);
    pointer-events: none;
    background-color: var(--bc-colors-grey-hover) !important;
    opacity: var(--bs-btn-disabled-opacity);
    background-blend-mode: difference;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.search-action-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-action-bar_search-wrapper {
    flex: 1;
}

input::placeholder {
    color: #8e8e8e !important;
}