.main-content {
    background-color: #f9f7f7;
    border: 1px solid black;
    height: 550px;
    padding: 4px;
    padding-top: 2px;
}

.mapping-container {
    height: calc(100vh - 300px);
    width: calc(100vw - 250px);
    overflow: scroll;
}

.table-div {
    height: 600px;
    overflow: auto;
    margin: 5px;
    margin-right: 10px;
}

.intake-map-col {
    height: 600px;
    overflow: auto;
}

.left {
    width: calc(65% - (.5em + 6px));
    float: left;
    min-height: 400px;
    max-height: 500px;
    padding-top: 6px;
}

.right {
    width: calc(35% - (.5em + 6px));
    float: right;
    min-height: 400px;
    max-height: 500px;
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20%;
}

.col {
    min-height: 40px;
    border: 1px solid #6a6a6a;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: white;
}

.column {
    float: left;
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: fit-content;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px;
    text-align: center;
    font-size: 16px;
    cursor: grab;
    background-image: linear-gradient(135deg, #f9f9fb 10%, #38598A 900%);
}

.dragging {
    opacity: 0.5;
}

.chef-field-table {
    overflow-y:scroll;
    border: 1px solid #00000017;
}

caption {
    padding: 10px;
    padding-left: 2px;
    position: fixed;
    margin-bottom: 30px;
    scroll-behavior: revert;
    caption-side: top;
    margin-top: -92px;
    font-weight: 400;
    width: unset;
    font-size: 20px;
    color: var(--bc-colors-blue-background, #38598A);
    background-color: white;
}

.title {
    padding: 10px;
    padding-left: 0px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: -8px;
    color: var(--bc-colors-blue-background, #38598A);
}

table.dataTable thead th {
    background-color: #859ab9;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

table.dataTable td {
    word-wrap: break-word;
    max-width: 250px;
}

.odd {
    background-color: #efefef !important;
}

td {
    background-color: transparent !important;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.content-div {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.buttons {
    margin: auto;
    width: fit-content;
    display: block;
}

.buttons-div {
    display: inline-flex;
    padding: 20px;
    margin: auto;
}

.dataTables_filter {
    margin-right: 10px;
}

.mappingForm {
    margin-bottom: 20px;
}

.label {
    padding: 4px;
    white-space: nowrap;
    color: var(--bc-colors-blue-background, #38598A);
}

.form-select {
    width: 400px !important;
}

.toast-top-center { 
    top: 220px;
    margin: 0 auto;
    left: 50%;
    margin-left: -450px;
}

thead tr:first-child th {
    position: sticky;
    z-index: 12;
    top: 30px;
    opacity: 1;
}

.table-title {
    background-color: white;
    margin-top: -13px;
    font-size: 20px;
    padding: 4px;
    z-index: 23;
    margin-left: 1px;
    position: fixed;
    float: left;
}


table.dataTable {
    margin-top: 29px !important;
}


table.dataTable thead td {
    font-size: 14px;
}

table.dataTable td {
    font-size: 15px;
}

#intake-map-available-fields-column {
    margin-top: 55px;
    width: 96%;
}

.intake-mapping-title {
    position: static;
    float: left;
    margin-top: 0px;
    padding: 8px;
    padding-top: 0px;
    width: -webkit-fill-available;
}

div.row:first-child th {
    position: sticky;
    z-index: 12;
    top: 50px;
    opacity: 1;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    z-index: 2;
    position: sticky;
    background: white;
    width: 100%;
    margin-left: -156px;
    padding: 3px;
}

.col-md-6 {
    flex: 0 0 auto;
    width: calc(65% - (.5em + 6px));
    z-index: 22;
    position: fixed;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: 7px;
}

input.form-control {
    min-width: 356px;
}

.form-version-label {
    width: 400px;
    margin-left: -74px;
}

#btn-sync {
    margin-top:10px;
}

.unity-app-main-container {
    min-width: 2020px;
}

textarea {
    border: 1px solid #e9e9e9;
}


.display-modal {
    opacity: 1 !important;
    display: block !important;
}

.non-drag {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}