.col {
    min-height: 40px;
    border: 1px solid #6a6a6a;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: white;
}

.column {
    float: left;
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: fit-content;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px;
    text-align: center;
    font-size: 16px;
    cursor: grab;
    background-image: linear-gradient(135deg, #f9f9fb 10%, #38598A 900%);
}

.dragging {
    opacity: 0.5;
}

.chef-field-table {
    overflow-y:scroll;
    border: 1px solid #00000017;
}

caption {
    padding: 10px;
    padding-left: 2px;
    position: fixed;
    margin-bottom: 30px;
    scroll-behavior: revert;
    caption-side: top;
    margin-top: -92px;
    font-weight: 400;
    width: unset;
    font-size: 20px;
    color: var(--bc-colors-blue-background, #38598A);
    background-color: white;
}

.title {
    padding: 10px;
    padding-left: 0px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: -8px;
    color: var(--bc-colors-blue-background, #38598A);
}

table.dataTable thead th {
    background-color: #859ab9 !important;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

table.dataTable td {
    word-wrap: break-word;
    max-width: 250px;
    font-size: 15px;
}

.odd {
    background-color: #efefef !important;
}

td {
    background-color: transparent !important;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.content-div {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.buttons {
    width: fit-content;
    display: block;
}

.buttons-div {
    display: inline-flex;
    padding: 20px;
    margin: auto;
}

.dataTables_filter, .dt-search {
    margin-right: 10px;
}

.mappingForm {
    margin-bottom: 20px;
}

.label {
    padding: 4px;
    white-space: nowrap;
    color: var(--bc-colors-blue-background, #38598A);
}

.form-select {
    width: 400px !important;
}

.toast-top-center { 
    top: 220px;
    margin: 0 auto;
    left: 50%;
    margin-left: -450px;
}

thead tr:first-child th {
    position: relative;
    z-index: 12;
    opacity: 1;
}

.table-title {
    background-color: white;
    font-size: 20px;
    padding: 4px;
    z-index: 23;
    margin-left: 1px;
    position: fixed;
    float: left;
}

table.dataTable thead td {
    font-size: 14px;
}

#intake-map-available-fields-column {
    width: 96%;
}

.intake-mapping-title {
    position: static;
    float: left;
    margin-top: 0px;
    padding: 7px;
    padding-top: 0px;
    width: -webkit-fill-available;
}

div.row:first-child th {
    position: sticky;
    z-index: 12;
    top: 50px;
    opacity: 1;
}

div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper div.dt-search {
    text-align: right;
    z-index: 2;
    position: sticky;
    background: white;
    width: 100%;
    margin-left: -156px;
    padding: 3px;
}

.col-md-6 {
    flex: 0 0 auto;
    width: calc(65% - (.5em + 6px));
    z-index: 22;
    position: fixed;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: -13px;
    margin-left: 7px;
}

.form-version-label {
    width: 400px;
    margin-left: -74px;
}

textarea {
    border: 1px solid #e9e9e9;
}

.display-modal {
    opacity: 1 !important;
    display: block !important;
}

.non-drag {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.dtfh-floatingparenthead {
    position: relative !important;
}

.mapping-field {
    display: block;
    font-size: 0.9rem;
}

.mapping-field i {
    font-size: 0.7rem;
}

.mapping-indicator-text {
    font-size: 0.5rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 2px;
}

.published-tick {
    background-color: var(--bs-btn-bg, #198754);
    border-radius: 35px;
    padding: 7px;
    color: #fff;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    padding-left: 9px;
}

.select-icon-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.form-label {
    color: var(--bc-colors-blue-background, #38598A);
    margin-bottom: 0.1rem;
}

.input-width {
    width: 355px !important;
}

.input-button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.unt-tab-content {
    background:#FFF;
    padding:15px;
}

.unt-label {
    padding: 10px 0px;
}

.unt-mapping-container {
    height: calc(97vh - 400px);
    overflow: scroll;
    overflow-x:hidden;
    border: 1px solid black;
}

.nav-tabs .nav-link.active {
    color: #003366;
    border-bottom: 3px solid #003366;
}

.nav-tabs .nav-link {
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 20px;
}

.intake-mapping-content {
    height: calc(100vh - 200px);
    overflow: auto;
}

.application-forms-table-content {
    height: calc(100vh - 200px);
    overflow: auto;
    background: #fff;
}

.application-forms-table-content .table.dataTable { 
    margin-top:0px !important;
}
.note{
     font-size: 0.75rem; 
}
.direct-approval {
    font-size: 0.9rem;
}

.worksheet-mapping-content {
    height: calc(100vh - 250px);
    overflow: auto;
}
