.main-content {
    background-color: #f9f7f7;
    border: 1px solid black;
    height: 630px;
    padding: 4px
}

.table-div {
    height: 600px;
    overflow: auto;
    margin: 5px;
    margin-right: 10px;
}

.intake-map-col {
    height: 600px;
    overflow: auto;
}

.left {
    width: calc(65% - (.5em + 6px));
    float: left;
    min-height: 400px;

}

.right {
    width: calc(35% - (.5em + 6px));
    float: right;
    min-height: 400px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20%;
}

.col {
    min-height: 40px;
    border: 1px solid #6a6a6a;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: white;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: fit-content;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px;
    text-align: center;
    font-size: 18px;
    cursor: grab;
    background-image: linear-gradient(135deg, #f9f9fb 10%, #38598A 900%);
}

.dragging {
    opacity: 0.5;
}

.chef-field-table {
    overflow-y:scroll;
    border: 1px solid #00000017;
}

caption {
    padding: 10px;
    padding-left: 2px;
    caption-side: top;
    margin-top: -50px;
    font-weight: 400;
    width: fit-content;
    font-size: 20px;
    color: var(--bc-colors-blue-background, #38598A);
}

.title {
    padding: 10px;
    padding-left: 0px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: -8px;
    color: var(--bc-colors-blue-background, #38598A);
}

table.dataTable thead th {
    background-color: #38598a4d;
}

.odd {
    background-color: #efefef !important;
}

td {
    background-color: transparent !important;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.content-div {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.buttons {
    margin: auto;
    width: fit-content;
    display: block;
}

.buttons-div {
    display: inline-flex;
    padding: 20px;
    margin: auto;
}

.dataTables_filter {
    margin-right: 10px;
}