@page
@using Microsoft.Extensions.Localization
@using Unity.Flex.Localization
@using Unity.Flex.Web.Pages.Flex
@model Unity.Flex.Web.Pages.Flex.IndexModel
@inject IStringLocalizer<FlexResource> L

@{
}
<h1>Flex</h1>
<p>@L["SamplePageMessage"]</p>