@using Unity.AspNetCore.Mvc.UI.Theme.UX2.Themes.UX2.Components.Brand
@using Unity.AspNetCore.Mvc.UI.Theme.UX2.Themes.UX2.Components.Menu
@using Volo.Abp.Features
@using Volo.Abp.MultiTenancy
@using Volo.Abp.Users;

@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IFeatureChecker FeatureChecker

<nav class="navbar navbar-expand-md shadow-sm flex-column flex-md-row unity-navbar" id="main-navbar">

    <div class="container-fluid unity-navbar-btns">

        @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())

        @(await Component.InvokeAsync<MainNavbarMenuViewComponent>())
        
    </div>    

   <div class="unity-container-fluid">
        <div class="px-3 d-flex align-items-center">
            <div class="unity-user-initials">
                @Html.Raw(CurrentUser.FindClaimValue("Badge"))
            </div>
        </div>
    </div>

    @{
        bool isAuthorizedForTenantSwitch = false;
        if (CurrentUser.IsAuthenticated && CurrentUser.FindClaims("tenant").Length > 1)
            isAuthorizedForTenantSwitch = true;
    }
    <abp-dropdown id="user-dropdown">
        <abp-dropdown-button class="btn-dropdown" text="@CurrentTenant.Name" />
        <abp-dropdown-menu class="user-dropdown-items">
            @if (isAuthorizedForTenantSwitch)
            {
                <abp-dropdown-item href="/GrantPrograms">Switch Grant Programs</abp-dropdown-item>
            }
            @if (await FeatureChecker.IsEnabledAsync("Unity.Payments"))
            {
                /* To be moved to a settings */
                <abp-dropdown-item href="/PaymentConfigurations">Payments Configuration</abp-dropdown-item>                
            }
            @if (await FeatureChecker.IsEnabledAsync("Unity.Flex"))
            {
                <abp-dropdown-item href="/ScoresheetConfiguration">Scoresheets Configuration</abp-dropdown-item>
                <abp-dropdown-item href="/WorksheetConfiguration">Custom Fields Configuration</abp-dropdown-item>
            }            
            <abp-dropdown-item href="/Account/Logout">Logout</abp-dropdown-item>
        </abp-dropdown-menu>
    </abp-dropdown>
</nav>

