@page
@model Unity.Reporting.Web.Pages.ReportingAdmin.IndexModel
@{
}

@section styles
{
    <abp-style src="/Pages/ReportingAdmin/Index.css" />
}
@section scripts
{
    <abp-script src="/Pages/ReportingAdmin/Index.js" />
}

<div class="run-sync-jobs">
    <abp-button id="runSyncJobsButton"
                class="btn btn-primary"
                text="Run Sync Jobs">
    </abp-button>
</div>

