
<div class="action-bar">
    <div class="action-bar-left" >
        <div class="action-button-wrapper">
            <abp-button id="externalLink" class="external-link" disabled="true" icon="external-link" text="Open" />
           
        </div>
        <div  class="action-button-wrapper">
            <abp-button class="active-list" id="assignApplication" disabled="true" icon="user-plus" text="Assign" />
 
        </div>
        <div class="action-button-wrapper">
            <abp-button class="active-list" id="statusUpdate" disabled="true" icon="exchange" text="Status" />

        </div>
        <div class="action-button-wrapper">
            <abp-button class="active-list" id="approveApplications" disabled="true" icon="thumbs-up" text="Approved" />
        </div>
        <div class="action-button-wrapper">
            <abp-button class="active-list" id="dontApproveApplications" disabled="true" icon="thumbs-down" text="Not Approved" />
        </div>
        <div class="action-button-wrapper">
            <abp-button class="active-list" disabled="true" icon="link" text="Copy link" />

        </div>
        <div  class="action-button-wrapper">
            <abp-button class="active-list" disabled="true" icon="download" text="Download" />
        </div>
    </div>
    <div class="action-bar-right" >
        <div class="action-button-wrapper">
            <abp-button disabled="true" class="active-list" icon="filter" text="Filter" />
        </div>
        <div class="action-button-wrapper">
            <abp-button disabled="true" class="active-list" icon="sort-amount-desc" text="Sort" />
        </div>
        <div class="action-button-wrapper">
            <abp-button disabled="true" class="active-list" icon="info" text="Info" />
        </div>
    </div>
</div>