.action-bar {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;
    margin-top: 2px;
    margin-bottom: 6px;
}

    .action-bar.active {
        background: white;
        border-radius: 0.5rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        
    }
