.site-info-btn {
    --bs-btn-active-color: var(--bc-colors-white-primary-500);
    --bs-btn-active-bg: var(--bc-colors-blue-primary-500);
}

.spinner-text {
    display: none;
    position: relative;
    padding-left: 10px;
    color: rgb(109, 109, 109);
}

#SiteInfoTable_wrapper .dt-buttons {
    float: right;
}

.error-message {
    color: var(--lpx-danger);
    font-weight: 600;
    margin-top: 10px;
}

.hidden {
    display: none;
}

input[readonly] {
    color: var(--bc-colors-grey-text-200);
    pointer-events: none;
    background-color: var(--bc-colors-grey-hover) !important;
    opacity: var(--bs-btn-disabled-opacity);
    background-blend-mode: difference;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.input-with-clear-btn {
    position: relative;
    display: inline-block;
    width: 100%;
}

.clear-btn {
    position: absolute;
    right: 0px;
    top: 60%;
    transform: translateY(-50%);
    border: none !important;
    background: transparent !important;
    padding: 4px !important;
    min-width: auto !important;
    height: auto !important;
    z-index: 10;
    display: block;
}

.input-with-clear-btn input {
    padding-right: 35px !important;
}
