.mb-3 {
    display: inline-block;
    max-width: 60%;
    margin-top: 1rem;
	padding: 4px;
}

.card {
	padding: 1rem;
	max-height: 80vh;
	overflow: scroll;
}

.field-validation-error {
	float: inline-start;
    display: block;
    max-width: 332px;
    width: 332px;
}

.readonly {
	color: var(--bc-colors-grey-text-500);
    background-color: #D8EAFD;
    width: 332px !important;
}

.currencyinput {
	float: left;
}

.currency {
	text-align: right; 
	width: 100%;
	margin-top: -31px;
}
.dm-approval {
	width: 100%;
	max-width: 100%;
}

.payment-form  h4 {
	padding: 4px;
	font-weight:700;
}

.payment-form .mb-3:nth-child(-n+3) {
	width: 30%;
}

.payment-form .mb-3:nth-child(n+4) {
	width: 45%;
}

.payment-form .mb-3:nth-child(n+6) {
	width: 100%;
}
.submit-section{
	display:inline-flex;
	gap:1rem;
}

.note{
	margin-left:5px;
}

.payment-prefix {
	width: 200px;
	margin-top: -7px;
}

.unity-app-main-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 850px) {
	.field-validation-error {
		float: none;
	}
}