.mb-3 {
    display: inline-block;
    max-width: 60%;
    margin-top: 1rem;
	padding: 4px;
}

.card {
	padding: 1rem;
	max-height: 80vh;
	overflow: scroll;
}


.readonly {
	color: var(--bc-colors-grey-text-500);
    background-color: #D8EAFD;
    width: 332px !important;
}

.currencyinput {
	float: left;
}

.currency {
	text-align: right; 
	width: 100%;
	margin-top: -31px;
}
.dm-approval {
	width: 100%;
	max-width: 100%;
}

.payment-form  h4 {
	padding: 4px;
	font-weight:700;
}

.payment-form .mb-3:nth-child(-n+3) {
	width: 30%;
}

.payment-form .mb-3:nth-child(n+4) {
	width: 45%;
}

.payment-form .mb-3:nth-child(n+6) {
	width: 100%;
}
.submit-section{
	display:inline-flex;
	gap:1rem;
}

.note{
	margin-left:5px;
}

.payment-prefix {
	width: 200px;
	margin-top: -7px;
}

.unity-app-main-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-validation-error {
	float: inline-start;
    display: block;
    max-width: 100%;
    width: 100%;
}

.modal-dialog {
    max-width: 850px !important;
    min-width: 850px !important;
}

input.form-control:focus, input.form-control:active, textarea.form-control:focus, textarea.form-control:active, .form-select:focus, .form-select:active {
	font-weight: inherit !important;
}

.hide {
	display: none;
}

#PaymentConfigurationSideMenu.side-menu{
	float: left;
    position: absolute;
    left: 0px;
	top: 150px;
}

#PaymentConfigurationSideMenu ul {
	padding-left: 0;
}

#PaymentConfigurationSideMenu li {
	height: 40px;
	padding: 10px;
    border-radius: 0 100em 100em 0;
}

#PaymentConfigurationSideMenu .nav-item {
	justify-content: left;
}

#payment-settings-div {
	width: 750px;
}

#PaymentThreshold_Threshold {
	text-align: right;
}

label.display-input-label {
    font-size: var(--bc-font-size-sm);
    color: var(--bc-colors-grey-text-300);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

@media only screen and (max-width: 850px) {
	.field-validation-error {
		float: none;
	}
}