@page
@model Unity.Payments.Web.Pages.PaymentConfifurations.PaymentConfigurationModel;

@{
    ViewBag.PageTitle = "Account Codes";
}
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/PaymentConfigurations/Index.css" />
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/PaymentConfigurations/Index.js" />
    </abp-script-bundle>
}

<div id="PaymentConfigurationSideMenu" class="side-menu">
    <ul>
        <li id="account-coding-menu-item" class="nav-item btn btn-nav active">            
            Account Coding           
        </li>
        <li id="payment-setting-menu-item" class="nav-item btn btn-nav">            
            Payment Settings            
        </li>
    </ul>
</div>

<abp-input asp-for="AccountCodingId"/>


<div id="account-codes-div" class="input-area card mb-3 payment-config">
    <div class="container-fluid px-0">
        <div class="action-bar p-2 filter-search-action-bar">
            <div class="unity-page-titlebar">
                <h4>Account Codes</h4>
            </div>
            <div class="filter-search-action-bar_search-wrapper">
                <input type="search" id="search-data-table" placeholder="Search" class="tbl-search">
            </div>

            <div class="btn-group" id="app_custom_buttons"></div>

            <div id="dynamicButtonContainerId" class="dynamic-buttons-div button-gap-1"></div>
        </div>
        <div class="p-3 pt-0">
            <abp-table id="AccountCodesDataTable"></abp-table>
        </div>
    </div>
</div>

<div id="payment-settings-div" class="input-area card mb-3 payment-config hide">
    <div class="container-fluid px-0">                       
        <abp-row>
            <abp-column size="_12" class="p-3">
                <h4>Payment Settings</h4>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size="_12" class="p-3">
                <span class="form-label">Payment ID Prefix</span>
                <input id="payment-id-prefix-original" type="hidden" value="@Model.PaymentIdPrefix">
                <input id="payment-id-prefix" maxlength="5" type="text" value="@Model.PaymentIdPrefix" class="valid form-control">
            </abp-column>
        </abp-row>
        <div class="d-flex p-2">
            <abp-button id="PaymentPrefixSaveButton"
                        text="Save Changes"
                        button-type="Primary" class="me-2"
                        type="submit" />

            <abp-button id="PaymentPrefixDiscardButton"
                        text="Discard Changes"
                        button-type="Light" class="me-2"
                        disabled="true" />
        </div>
        <hr/>
        <abp-row>
            <abp-column size="_12" class="p-3">
                <h4>Level 2 Approval Threshold</h4>
                <label class="display-input-label" for="paymentSettingsDynamicButtonContainerId">
                    Please Note the following table is generated from Users created with the Role of l2_approver
                </label>                
            </abp-column>       
        </abp-row>
        <div class="btn-group" id="app_custom_buttons">
            <div id="paymentSettingsDynamicButtonContainerId" class="dynamic-buttons-div button-gap-1"></div>
        </div>
        <div class="p-3 pt-0">
            <abp-table id="PaymentSettingsDataTable"/>
        </div>
    </div>
</div>