#ApplicationAttachmentsTable_wrapper .dt-scroll-body {
    overflow: unset !important;
}

/*27121 Bug Fix*/
@media (max-height: 768px) {
    .dt-scroll-body {
       max-height: inherit !important;
    }
}