<div class="attachments-panel">
<div class="attachments-panel-header">
    <div class="attachments-panel-title">
        <h6 class="fw-bold m-0">Program Attachments</h6>
    </div>
    <div class="attachments-panel-actions">
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="btn-toggle-filter-uploads" title="Filter">
            <span class="button-content">
                <i class="unt-icon-sm fa-solid fa-filter"></i>
                <span>Filter</span>
            </span>
        </button>
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="application_attachment_download_btn" title="Download" disabled>
            <span class="button-content">
                <i class="unt-icon-sm fa-solid fa-download"></i>
                <span>Download</span>
            </span>
        </button>
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="application_attachment_delete_btn" title="Delete" disabled>
            <span class="button-content">
                <i class="unt-icon-sm fa-solid fa-trash"></i>
                <span>Delete</span>
            </span>
        </button>
        <input id="application_attachment_upload" name="application_attachment_upload" type="file" size="1" multiple onchange="uploadApplicationFiles('application_attachment_upload');" style="display: none" />
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="application_attachment_upload_btn" title="Upload">
            <span class="button-content">
                <i class="unt-icon-sm fa-solid fa-upload"></i>
                <span>Upload</span>
            </span>
        </button>
    </div>
</div>
<abp-table id="ApplicationAttachmentsTable"
    class="attachments-table"></abp-table>
</div>
