<div class="action-bar p-2 search-action-bar">
    <div class="search-action-bar_search-wrapper">
        <input type="text" id="search" placeholder="Search" class="tbl-search">
    </div>

    <div class="btn-group" id="app_custom_buttons">
        <abp-button id="btn-toggle-filter"
                    text="Filter"
                    class="custom-table-btn flex-none btn btn-secondary"
                    button-type="Secondary" />
    </div>

    <div id="dynamicButtonContainerId">

        <abp-row>
            <abp-column class="spinner-loader">
                <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </abp-column>
        </abp-row>
    </div>
</div>