@using Unity.Modules.Shared
@using Volo.Abp.Authorization.Permissions

@inject IPermissionChecker PermissionChecker

<div class="action-bar p-2 search-action-bar">
    <div class="search-action-bar_search-wrapper">
        <input type="search" id="search" placeholder="Search" class="tbl-search">
    </div>

    <div class="btn-group" id="app_custom_buttons">
        @if(await PermissionChecker.IsGrantedAsync(UnitySelector.Payment.Tags.Create) || await PermissionChecker.IsGrantedAsync(UnitySelector.Payment.Tags.Delete))
        {
        <abp-button id="tagPayment"
                    data-selector="batch-payment-table-actions"
                    text="Tags"
                    class="custom-table-btn flex-none btn btn-secondary disabled"
                    button-type="Secondary" />
        }
    </div>

    <div id="dynamicButtonContainerId" class="dynamic-buttons-div"></div>
</div>