<div class="action-bar p-2 search-action-bar">
    <div class="search-action-bar_search-wrapper">
        <input type="search" id="search" placeholder="Search" class="tbl-search">
    </div>

    <div class="btn-group" id="app_custom_buttons">
  

       
      
    </div>

    <div id="dynamicButtonContainerId" class="dynamic-buttons-div">

       
    </div>
</div>