<div class="action-bar p-2">
    <div class="d-flex align-items-start justify-content-start gap-2">
   
    </div>

    <div id="dynamicButtonContainerForPayment" class="d-flex align-items-end justify-content-end gap-2">
        <abp-button id="btn-toggle-filter"
                    text="Filter"
                    disabled="false"
                    icon-type="Other"
                    icon="fl fl-filter"
                    button-type="Light" />
    </div>
</div>
