.scoresheet-configuration-container {
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
}

.scoresheet-scrollable-content {
    overflow-y: scroll;
    height: calc(100vh - 120px);
    margin-top: 10px;
}

.scoresheet-column, .preview-column {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    
}

.scoresheet-column {
    width: 50%; 
    height: 100%;
}

.preview-column {
    width: 50%; 
    height: 100%;
}

@media (max-width: 768px) {
    .scoresheet-column, .preview-column {
        width: 100% !important; 
        display: block !important; 
        height: auto !important; 
        overflow-y: visible;
        box-sizing: border-box;
    }
}