@model Unity.AI.Web.Views.Settings.AISettingGroup.AISettingViewModel

<div class="container-fluid px-0">
    <div class="unity-page-titlebar">
        <h4 class="m-0">AI Configuration</h4>
    </div>
    <div class="row">
        <div class="p-3">
            <p class="text-muted">AI configuration settings will appear here.</p>
        </div>
    </div>
</div>
