WEB_VERSION="v0.1.3"
MIGRATOR_VERSION="v0.1.3"

ASPNETCORE_ENVIRONMENT="Development"
ASPNETCORE_URLS="https://+:443;http://+:80"

## DATABASE SETTINGS
UNITY_POSTGRES_DB="UnityGrantManager"
UNITY_POSTGRES_USER="********"
UNITY_POSTGRES_PASSWORD="********"

UNITY_DB_HOST="unity-data-postgres"
UNITY_DB_PORT="5432"

## APPLICATION SETTINGS
App__SelfUrl="http://localhost:8080"
ConnectionStrings__Default="Host=${UNITY_DB_HOST};port=${UNITY_DB_PORT};Database=${UNITY_POSTGRES_DB};Username=${UNITY_POSTGRES_USER};Password=${UNITY_POSTGRES_PASSWORD}"
StringEncryption__DefaultPassPhrase="********"

## DB MIGRATOR REVIEW
OpenIddict__Applications__GrantManager_Web__ClientId="GrantManager_Web"
OpenIddict__Applications__GrantManager_Web__ClientSecret="********"
OpenIddict__Applications__GrantManager_Web__RootUrl="https://localhost:44342"

## CHEFS INTEGRATION
Intake__BaseUri="https://submit.digital.gov.bc.ca/app/api/v1"
Intake__FormId="********"
Intake__ApiKey="********"
Intake__Demo__SubmissionId="********"

## COMMON HOSTED SINGLE SIGN ON
AuthServer__ServerAddress="https://dev.loginproxy.gov.bc.ca/auth"
AuthServer__Realm="standard"
AuthServer__RequireHttpsMetadata="false"
AuthServer__Audience="unity-4899"
AuthServer__ClientId="unity-4899"
AuthServer__ClientSecret="********"
AuthServer__IsBehindTlsTerminationProxy="false"
