name: unity_local

# Add docker runtime environment variables from the .env file these are not included in the docker builds. 
services:
  unity-grantmanager-web:
    env_file:
      - .env

  unity-data-dbmigrator:
    env_file:
      - .env

  unity-data-postgres:
    env_file:
      - .env