@page
@using Microsoft.Extensions.Localization
@using Unity.Reporting.Localization
@using Unity.Reporting.Web.Pages.Reporting
@model Unity.Reporting.Web.Pages.Reporting.IndexModel
@inject IStringLocalizer<ReportingResource> L

@{
}
<h1>Reporting</h1>
<p>@L["SamplePageMessage"]</p>
