@page
@model Unity.Payments.Web.Pages.PaymentSettings.CreatePaymentSettingsModel
@{
    ViewBag.PageTitle = "Payment Settings";
}
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/PaymentSettings/Index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/PaymentSettings/Index.js" />
    </abp-script-bundle>
}


<input id="status-message" type="hidden" asp-for="StatusMessage" />

<div class="input-area card mb-3">
	<abp-dynamic-form abp-model="PaymentSettings" asp-page="/PaymentSettings/Index" submit-button="true">
		<div>
			<h4>Account Coding</h4>
			<div class="mb-3">
				<input id="account-coding" type="text" value="" readonly="" class="valid form-control readonly" aria-invalid="false">
			</div>
		</div>
		<abp-form-content>
		<div class="mb-3 dm-approval" >
			<h4>DM Approval Payment Threshold</h4>	
			<label class="form-label"><b>NOTE:</b> All payments above this limit will require a DM Approval before they can be submitted to CAS.</label>
			<div>
				<label class="form-label" for="PaymentThreshold">Threshold</label><span> * </span>
			</div>
			<div>
				<span class="currencyinput">$
				<input type="number" data-val="true" data-val-range="The field Payment Threshold Amount must be greater than 0." 
				data-val-range-max="1.7976931348623157E+308" 
				data-val-range-min="0" data-val-required="The Payment Threshold Amount field is required." 
				id="PaymentThreshold" name="PaymentThreshold" 
				value="@Model.PaymentThreshold" class="form-control currency"><span class="text-danger field-validation-valid"
				data-valmsg-for="PaymentThreshold" data-valmsg-replace="true">
				</span>
			</div>	
		</div>
		</abp-form-content>
	</abp-dynamic-form>
</div>