@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@model Unity.Payments.Web.Pages.AccountCoding.UpdateModalModel

@{
    Layout = null;
}

<abp-dynamic-form abp-model="AccountCoding" asp-page="/AccountCoding/UpdateModal">
    <abp-modal>
        <abp-modal-header title="Account Coding"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
            <abp-row>
                <abp-column size="_12" class="p-3">
                    <span class="form-label">Account Coding</span>
                    <input id="account-coding" type="text" value="" readonly="" class="valid form-control readonly" aria-invalid="false">
                </abp-column>
            </abp-row>
            <abp-input hidden="true" asp-for="Id" suppress-label="true"/>
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn btn-primary" data-busy-text="Saving..." type="submit">Save</button>
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        </abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>
