.batch-approval-card {
    max-height: 65vh;
    overflow: auto;
}

.batch-approval-container {
    border: var(--bs-border-width) solid;
    border-color: var(--bs-border-color);
}

.bulk-approval-row-header {
    padding-bottom: 0 !important;
}

.bulk-approval-remove-row {
    min-width: 55px
}


/* This is for the summary modal*/

.table-container {
    max-height: 65vh;
    overflow-y: auto;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.centered-icon {
    text-align: center;
    padding-bottom: 0.85rem;
}

.custom-table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.custom-table .col-5 {
    width: 5%;
}

.custom-table .col-20 {
    width: 20%;
}

.custom-table .col-75 {
    width: 75%;
}

.approval-details-header {
    display: flex;
    align-items: center;
}

    .approval-details-header
    .reference-no {
        font-weight: 700;
    }

    .approval-details-header
    .applicant-name {
        font-weight: 400;
        color: var(--bc-type-color-secondary);
        margin-left: 0.75rem;
        padding-right: 0.75rem !important;
    }

    .approval-details-header
    .form-name {
        font-weight: 400;
        color: var(--bc-type-color-secondary);
        font-size: 0.8rem;
    }

    .approval-details-header
    .application-status {
        font-weight: 700;
        color: var(--bc-colors-blue-text-links);
        text-transform: uppercase;
        border: 3px solid var(--bc-colors-blue-text-links);
        border-radius: 1rem;
        font-size: 0.8rem;
        padding: 0.125rem 0.5rem;
        margin: 0 0.5rem;
        margin-top: 2px;
    }


.approval-note-prefix {
    font-weight: 700;
    color: var(--bc-colors-blue-text-links);
    text-transform: uppercase;
    border: 3px solid var(--bc-colors-blue-text-links);
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.025rem 0.5rem;
    line-height: 1.75rem;
}

.approval-note-error {
    color: var(--lpx-danger);
    border-color: var(--lpx-danger);
}

.batch-approval-summary {
    text-align: center;
}