<abp-script src="/Views/Settings/TagManagement/TagManagement.js" />

<div class="container-fluid px-0">
    <div class="filter-search-action-bar">
        <div class="unity-page-titlebar">
            <h4 class="m-0">Manage Tags</h4>
        </div>
        <div class="filter-search-action-bar_search-wrapper">
            <input type="search" id="search-tags" placeholder="Search" class="tbl-search">
        </div>
    </div>
    
    <div class="unity-setting-body p-3">
        <div class="row">
            <div class="container">
                <abp-table id="GlobalTagsTable" data-resize-aware="true"></abp-table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
