@page
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.Intakes
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.Intakes";
    PageLayout.Content.Title = L["Intakes"].Value;    
    ViewBag.PageTitle = "Intakes";
}
@section scripts
    {
    <abp-script src="/Pages/Intakes/Index.js" />
}

<div class="container-fluid px-2">
    <div class="d-flex my-1 p-2">
        <abp-column size="_6">
            <abp-card-title>@L["Intakes"]</abp-card-title>
        </abp-column>
        <abp-column size="_6" class="d-flex justify-content-end">
            <abp-button id="CreateIntakeButton"
                        text="@L["Common:Command:Create"].Value"
                        icon-type="Other"
                        icon="fl fl-add-to"
                        button-type="Light" />
        </abp-column>
    </div>
    <abp-table id="IntakesTable"></abp-table>
</div>

