@page
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.Intakes
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.Intakes";
    PageLayout.Content.Title = L["Intakes"].Value;    
    ViewBag.PageTitle = L["Intakes"].Value;
}
@section styles {
    <abp-style src="/Pages/Intakes/Index.css" />
}
@section scripts
    {
    <abp-script src="/Pages/Intakes/Index.js" />
}

<div class="container-fluid px-0">
    <div class="action-bar p-2 filter-search-action-bar">
        <div class="unity-page-titlebar">
            <h4>@L["Intakes"]</h4>
        </div>
        <div class="filter-search-action-bar_search-wrapper">
            <input type="search" id="search-intakes" placeholder="Search" class="tbl-search">
        </div>

        <div class="btn-group" id="app_custom_buttons"></div>

        <div id="dynamicButtonContainerId" class="dynamic-buttons-div button-gap-1"></div>
    </div>
    <div class="p-3 pt-0">
        <abp-table id="IntakesTable"></abp-table>
    </div>
</div>

