@using Unity.GrantManager.Web.Views.Shared.Components.ApplicationLinksWidget;

@model ApplicationLinksWidgetViewModel
@{
    Layout = null;
}
<div class="links-container" data-count="0" data-linkscounttag="application_links_count">
    <div class="px-3 mb-4">
        <abp-table id="ApplicationLinksTable" hoverable-rows="true" data-resize-aware="true" class="links-table"></abp-table>
    </div>
    <div>
        <abp-button text="Add Links"
            id="addLinksRecordsBtn"
            icon-type="Other"
            icon="fl fl-plus"
            button-type="Light" />
    </div>
</div>
