@page
@model Unity.GrantManager.Web.Pages.AIReporting.IndexModel
@using Unity.GrantManager.Web.Pages.AIReporting
@using Unity.Modules.Shared.Permissions
@using Volo.Abp.Features

@section styles {
    <abp-style src="/Pages/AIReporting/Index.css" />
    <abp-style src="/libs/bootstrap/css/bootstrap.css" />
}
@section scripts
{
    <abp-script src="/libs/jquery/jquery.js" />
    <abp-script src="/libs/bootstrap-4/dist/js/bootstrap.min.js"></abp-script>
    @if (await FeatureChecker.IsEnabledAsync("Unity.AIReporting") || User.IsInRole(IdentityConsts.ITAdminRoleName))
    {
        <abp-script src="/Pages/AIReporting/Index.js" />
    }
}
@inject IFeatureChecker FeatureChecker

<style>
    #container {
        height: calc(100vh - 6.75rem);
    }

    .unity-app-main-container {
        padding: 0px;
    }
</style>

<div id="container"></div>