@page
@using Microsoft.Extensions.Localization
@using Unity.Payments.Localization
@using Unity.Payments.Web.Pages.Payments
@model Unity.Payments.Web.Pages.Payments.IndexModel
@inject IStringLocalizer<PaymentsResource> L

@{
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/BatchPayments/Index.js" />
    </abp-script-bundle>
}
@section styles {
    <abp-style src="/Pages/BatchPayments/Index.css" />
}

<div class="container-fluid px-2">
    @await Component.InvokeAsync("PaymentActionBar")
    <div class="d-flex my-1 p-2">
        <abp-column size="_6">
            <abp-card-title></abp-card-title>
        </abp-column>
    </div>
    <abp-table id="BatchPaymentRequestTable"></abp-table>
</div>
