@page
@using Microsoft.Extensions.Localization
@using Unity.Payments.Localization
@using Unity.Payments.Web.Pages.Payments
@model Unity.Payments.Web.Pages.Payments.IndexModel
@inject IStringLocalizer<PaymentsResource> L

@{
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/BatchPayments/Index.js" />
    </abp-script-bundle>
}
@section styles {
    <abp-style src="/Pages/BatchPayments/Index.css" />
}

<div class="container-fluid px-2">
    @await Component.InvokeAsync("PaymentActionBar")
    <div class="application-scrollable-content">
        <abp-table id="BatchPaymentRequestTable"></abp-table>
    </div>
</div>
<label class="dot hidden" id="hdnDot"></label>
