@using Microsoft.AspNetCore.Authorization;
@using Unity.Flex.Localization
@using Microsoft.Extensions.Localization;
@using Unity.Flex.Web.Views.Shared.Components.WorksheetInstanceWidget;

@model WorksheetInstanceWidgetViewModel;

@inject IStringLocalizer<FlexResource> L
@inject IAuthorizationService AuthorizationService

<div>Hello world Worksheet Instance</div>