@using Microsoft.Extensions.Localization
@using Unity.GrantManager.Localization

@inject IStringLocalizer<GrantManagerResource> L
<div class="attachments__title-button-split">
    <div style="display:inline-block">
        <h6 class="fw-bold px-3 pt-4 pb-2 m-0">Submission Attachments</h6>
    </div>
    <div style="display:inline-block" class="me-3">
            <abp-button id="resyncSubmissionAttachments"
                        icon-type="Other"
                        size="Large"
                        icon="fl fl-synch"
                        abp-tooltip="@L["ApplicationList:ResyncSubmissionAttachmentsButton"].Value"
                        button-type="Light" />
    </div>
</div>
<div class="px-3">
    <abp-table id="ChefsAttachmentsTable" hoverable-rows="true" class="attachments-table"></abp-table>
</div>
