@using Microsoft.Extensions.Localization
@using Unity.GrantManager.Localization

@inject IStringLocalizer<GrantManagerResource> L
<div class="attachments-panel">
<div class="attachments-panel-header">
    <div class="attachments-panel-title">
        <h6 class="fw-bold m-0">Submission Attachments</h6>
    </div>
    <div class="attachments-panel-actions">
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="btn-toggle-filter-submissions" title="Filter">
            <span class="button-content">
                <i class="unt-icon-sm fa-solid fa-filter"></i>
                <span>Filter</span>
            </span>
        </button>
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="downloadSelected">
            <span class="button-content">
                <i class="unt-icon-sm fa-solid fa-download"></i>
                <span>Download</span>
            </span>
        </button>
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="resyncSubmissionAttachments">
            <span class="button-content">
                <i class="unt-icon-sm fa-solid fa-arrows-rotate"></i>
                <span>Resync</span>
            </span>
        </button>
        @if (ViewBag.IsAIAttachmentSummariesEnabled)
        {
            <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="generateAiSummaries" title="Generate AI Summaries">
                <span class="button-content">
                    <i class="unt-icon-sm fa-solid fa-wand-magic-sparkles"></i>
                    <span>Generate Summary</span>
                </span>
            </button>
            <button type="button" class="btn unt-btn-outline-primary btn-outline-primary" id="toggleAllAISummaries" title="Hide AI Summaries">
                <span class="button-content">
                    <i class="unt-icon-sm fa-solid fa-chevron-up"></i>
                    <span class="toggle-ai-summaries-label">Hide Summaries</span>
                </span>
            </button>
        }
        @* <abp-button id="resyncSubmissionAttachments"
                        icon-type="Other"
                        size="Large"
                        icon="fl fl-synch"
                        abp-tooltip="@L["ApplicationList:ResyncSubmissionAttachmentsButton"].Value"
                        button-type="Light" /> *@
    </div>
</div>
<abp-table id="ChefsAttachmentsTable" class="attachments-table"></abp-table>
</div>
