@using Microsoft.Extensions.Localization
@using Unity.GrantManager.Localization

@inject IStringLocalizer<GrantManagerResource> L
<div class="attachments__title-button-split">
    <div class="submission-title">
        <h6 class="fw-bold px-3 pt-4 pb-2 m-0">Submission Attachments</h6>
    </div>
    <div class="submission-button-section me-3">
        @if (ViewBag.IsAIAttachmentSummariesEnabled)
        {
            <button type="button" class="btn unt-btn-outline-primary btn-outline-primary me-2" id="toggleAllAISummaries" title="Toggle AI Summaries"><i class="unt-icon-sm fa-solid fa-wand-sparkles"></i>AI Summaries</button>
        }
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary me-2" id="downloadAll"><i class="unt-icon-sm fl fl-download"></i>Download All</button>
        <button type="button" class="btn unt-btn-outline-primary btn-outline-primary me-2" id="resyncSubmissionAttachments" abp-tooltip="@L["ApplicationList:ResyncSubmissionAttachmentsButton"].Value"><i class="fl fl-synch"></i></button>
        @* <abp-button id="resyncSubmissionAttachments"
                        icon-type="Other"
                        size="Large"
                        icon="fl fl-synch"
                        abp-tooltip="@L["ApplicationList:ResyncSubmissionAttachmentsButton"].Value"
                        button-type="Light" /> *@
    </div>
</div>
<div class="px-3">
    <abp-table id="ChefsAttachmentsTable" hoverable-rows="true" class="attachments-table" data-resize-aware="true"></abp-table>
</div>