@page
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy</title>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Privacy</h1>
    </div>

</body>
</html>
