@using Unity.AspNetCore.Mvc.UI.Theme.UX2.Themes.UX2.Components.Brand;
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser

<nav class="navbar navbar-expand-md shadow-sm flex-column flex-md-row unity-navbar" id="main-navbar">
    <div class="container-fluid unity-navbar-btns col-8">
        @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())

        <button type="button" class="btn btn-nav btn-features active" id="btn-features">Features</button>

        <button type="button" class="btn btn-nav btn-forms-templte" id="btn-templates">Template Library</button>
    </div>
    <div class="unity-container-fluid col-4">
        <div class="col-12 d-flex justify-content-end">
            <div class="d-flex justify-content-start div-btn-form">
                <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://submit.digital.gov.bc.ca/app/';">DESIGN YOUR FORM</button>
            </div>
            <div class="d-flex justify-content-end div-btn-form">
                @if (!CurrentUser.IsAuthenticated)
                {
                    <button type="button" class="btn btn-primary" onclick="window.location.href = '/Account/Login';">LOGIN</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" onclick="window.location.href = '/GrantApplications';">VIEW APPLICATIONS</button>
                }
            </div>
        </div>
    </div>
</nav>

