@page
@model Unity.GrantManager.Web.Pages.Approve.ApproveApplicationsModalModel
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@{
    Layout = null;
}


<form method="post" asp-page-handler="OnPostAsync">
    <abp-modal id="approveApplicationsModal">
        <abp-modal-header title="@Model.PopupTitle"></abp-modal-header>
        <abp-modal-body>
            @Model.PopupMessage
            <abp-input type="hidden" asp-for="@Model.SelectedApplicationIds" />
            <abp-input type="hidden" asp-for="@Model.OperationStatusCode" />
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn btn-primary" data-busy-text="Saving..." type="submit">Save</button>
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        </abp-modal-footer>
        
    </abp-modal>
</form>
