
@font-face {
    font-family: 'Segoe-Fluent-Icons';
    src: url('fonts/Segoe-Fluent-Icons.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.fl {
    font-family: 'Segoe-Fluent-Icons';
    font-weight: 100;
    font-style: normal;
}

.fl-Settings:before {
    content: '\E713';
}

