@page
@using Microsoft.Extensions.Localization
@using Unity.Notifications.Localization
@using Unity.Notifications.Web.Pages.Notifications
@model Unity.Notifications.Web.Pages.Notifications.IndexModel
@inject IStringLocalizer<NotificationsResource> L

@{
}
<h1>Notifications</h1>
<p>@L["SamplePageMessage"]</p>
