@page
@using Microsoft.Extensions.Localization
@using Unity.Payments.Localization
@using Unity.Payments.Web.Pages.Payments
@model Unity.Payments.Web.Pages.Payments.IndexModel
@inject IStringLocalizer<PaymentsResource> L

@{
}
<h1>Payments</h1>
<p>@L["WelcomeToPayments"]</p>
