@using Unity.Flex.Web.Views.Shared.Components.DataGridDefinitionWidget;

@model DataGridDefinitionViewModel;

<abp-row class="m-0 p-0">
    <div>Placeholder for a Data Grid Definition</div>
</abp-row>
