.blue-background {
    background-color: lightblue;
}

.blue-background * {
    background-color: lightblue;
}

.section-info-btn {
    --bs-btn-active-color: var(--bc-colors-white-primary-500);
    --bs-btn-active-bg: var(--bc-colors-blue-primary-500);
}

.custom-field-info-btn {
    --bs-btn-active-color: var(--bc-colors-white-primary-500);
    --bs-btn-active-bg: var(--bc-colors-blue-primary-500);
}

.accordion-button .custom-field-info {
    margin-right: 20px;
}

    .accordion-button .custom-field-info .total-custom-fields {
        font-size: 0.75rem;
    }

.accordion-button .text-end {
    margin-right: 1rem;
}

.custom-field-row {
    padding-left: 5rem;
    cursor: grab;
}

.worksheet-btn {
    text-transform: uppercase;
}

.sections-wrapper-outer {
    cursor: grab;
}

.float-end.worksheet-btn {
    margin-top: -5px;
}