.checkbox-options-actions-column {
    width: 1rem;
}

.checkbox-options-list {
    max-height: 200px;
    overflow: auto;
}

.checkbox-options-list table {
    width: 100%;
}

#add-new-checkbox-table {    
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
}

    #add-new-checkbox-table td {
        margin: 5px;
        border-radius: 0px !important;
    }

.new-row-actions {
    display: flex;
    gap: 4px;
}

.checkbox-options-edit-controls {
    margin-top: 1rem;
}

.checkbox-input-valid {
    border: 1px solid red !important;
}

#checkbox-options-table {    
    overflow-y: auto;    
}

    #checkbox-options-table thead {
        position: sticky;
        top: 0;
        height: 2rem;
        color: #5d5d5d;
        background-color: #fff;
    }

    #checkbox-options-table th {
        padding: 5px;
    }

#new-checkbox-row td:first-child {
    padding-left: 10px;
}

#invalid-input-error-summary {
    color: var(--bs-red, red);
    text-align: center;
}
