@page
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantPrograms
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.GrantPrograms";
    PageLayout.Content.Title = L["Grants"].Value;
    ViewBag.UserName = "Test User";
    ViewBag.PageTitle = "Grant Programs";
}
@section scripts
    {
    <abp-script src="/Pages/GrantPrograms/Index.js" />
}

<div class="container-fluid px-2">
    <div class="d-flex my-1 p-2">
        <abp-column size="_6">
            <abp-card-title>@L["GrantPrograms"]</abp-card-title>
        </abp-column>
        <abp-column size="_6" class="d-flex justify-content-end">
            <abp-button id="CreateGrantProgramButton"
                        text="@L["GrantProgram_Create"].Value"
                        icon-type="Other"
                        icon="fl fl-add-to"
                        button-type="Light" />
        </abp-column>
    </div>
    <abp-table id="GrantProgramsTable"></abp-table>
</div>

