@page
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.Intakes
@using Microsoft.Extensions.Localization
@model Unity.GrantManager.Web.Pages.GrantPrograms.IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.GrantPrograms";
    PageLayout.Content.Title = L["GrantPrograms"].Value;
    ViewBag.PageTitle = "Grant Programs";
}

@section styles {
    <abp-style src="/Pages/GrantPrograms/Index.css" />
}
@section scripts
    {
    <abp-script src="/Pages/GrantPrograms/Index.js" />
}

<div class="container-fluid px-0">
    <div class="action-bar p-2 filter-search-action-bar">
        <div class="unity-page-titlebar">
            <h4>@L["GrantPrograms"]</h4>
        </div>
        <div class="filter-search-action-bar_search-wrapper">
            <input type="search" id="search-grant-programs" placeholder="Search" class="tbl-search">
        </div>

        <div class="btn-group" id="app_custom_buttons"></div>

        <div id="dynamicButtonContainerId" class="dynamic-buttons-div button-gap-1"></div>
    </div>
    <div class="p-3 pt-0">
        <abp-table id="UserGrantProgramsTable"></abp-table>
    </div>
</div>

<form id="tenantSwapForm" method="post">    
    <abp-input id="SwapTenantId" asp-for="SwapTenantId" suppress-label hidden />
</form>