<abp-row class="p-2 pt-0">
    <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2">
        <div id="AdjudicationTitleRegion" class="d-flex align-items-stretch justify-content-start">
            <h6 class="ps-1 fw-bold">Assessment List</h6>
        </div>
        <div id="AdjudicationTeamLeadActionBar" class="d-flex align-items-stretch justify-content-end gap-2">
            @* Button items can be included here through the Review List JS*@
        </div>
    </abp-column>
</abp-row>
<abp-row>
    <abp-column>
        <abp-table id="ReviewListTable" hoverable-rows="true" class="tab-resize resize-aware"></abp-table>
    </abp-column>
</abp-row>
