<abp-row class="p-2 pt-0">
    <abp-column size="_12" class="fl-review-list-container d-inline-flex justify-content-between">
        <div id="AdjudicationTitleRegion" class="d-flex align-items-stretch justify-content-start gap-2">
            <i class="fl fl-review-list"></i>
            <h5 class="review-list-heading">Assessment List</h5>
        </div>
        <div id="AdjudicationTeamLeadActionBar" class="d-flex align-items-stretch justify-content-end gap-2">
            @* Button items can be included here through the Review List JS*@
        </div>
    </abp-column>
</abp-row>
<abp-row>
    <abp-column>
        <abp-table id="ReviewListTable" hoverable-rows="true"></abp-table>
    </abp-column>
</abp-row>