@model Unity.Notifications.Web.Settings.NotificationsSettingGroup.NotificationsSettingViewModel

<abp-script src="/Settings/NotificationsSettingGroup/Default.js" />

<div class="container-fluid px-0">
    <div class="unity-page-titlebar">
        <h4 class="m-0">Notifications Configuration</h4>
    </div>
    <div class="p-3">
        <form id="NotificationsSettingsForm">
            <abp-row>
                <abp-column size-md="_12" class="mx-2 fw-bold">
                    <abp-input asp-for="@Model.DefaultFromAddress" />
                    <abp-input asp-for="@Model.DefaultFromDisplayName" />
                </abp-column>
            </abp-row>
            <abp-row>
                <hr class="my-4" />
                <div class="d-flex p-2">
                    <abp-button id="NotificationsSaveButton"
                                text="Save Changes"
                                button-type="Primary" class="me-2"
                                type="submit" />
                    <abp-button id="NotificationsDiscardButton"
                                text="Discard Changes"
                                button-type="Light" class="me-2"
                                disabled="true"/>
                </div>
            </abp-row>
        </form>
    </div>
</div>