::-ms-reveal {
    display: none;
}

#IdentityRolesTable_filter label {
    font-size: var(--bc-font-size-sm);
    color: var(--bc-colors-grey-text-300);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    margin-right: 5px;
}

#IdentityRolesTable_filter input {
    margin: 0.25rem;
}

#AbpContentToolbar {
    display: flex !important;
    background-color: transparent;
}

#IdentityRolesWrapper {
    background-color: transparent;
}

#IdentityRolesWrapper .dataTables_scrollBody{
    max-height: calc(100vh - 370px);
    overflow-y: scroll;
}
