@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.Identity
@using Volo.Abp.Identity.Localization
@using Unity.Identity.Web.Navigation
@using Unity.Identity.Web.Pages.Identity.Roles
@model IndexModel
@inject IHtmlLocalizer<IdentityResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Roles"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:IdentityManagement"].Value);
    PageLayout.Content.MenuItemName = UnityIdentityMenuNames.Roles;
    ViewBag.PageTitle = L["Roles"].Value;
}
@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/AbpPermissionManagement/permission-management-modal.css" />
        <abp-style src="/Pages/identity/roles/index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/client-proxies/identity-proxy.js" />
        <abp-script src="/Pages/AbpPermissionManagement/permission-management-modal.js" />
        <abp-script src="/Pages/identity/roles/index.js" />
    </abp-script-bundle>
}

<div class="container-fluid px-0">
    <div class="action-bar p-2 filter-search-action-bar">
        <div class="unity-page-titlebar">
            <h4>@L["Roles"]</h4>
        </div>

        <div class="filter-search-action-bar_search-wrapper">
            <input type="search" id="search-roles" placeholder="Search" class="tbl-search">
        </div>

        <div class="btn-group" id="app_custom_buttons"></div>

        <div id="dynamicButtonContainerId" class="dynamic-buttons-div button-gap-1"></div>
    </div>
    <div class="p-3 pt-0">
        <abp-table id="IdentityRolesTable"></abp-table>
    </div>
</div>
