﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Unity.Payments.Localization;
@using Unity.Payments.Web.Views.Shared.Components.PaymentsSettingsGroup;
@using Volo.Abp.Authorization.Permissions
@inject IHtmlLocalizer<PaymentsResource> L
@inject IPermissionChecker PermissionChecker
@model Unity.Payments.Web.Views.Shared.Components.PaymentsSettingsGroup.UpdatePaymentsSettingsViewModel

<abp-script src="/Views/Shared/Components/PaymentsSettingsGroup/Default.js" />

<form id="PaymentsSettingsForm" method="post">
    <abp-row>
        <abp-column size-md="_12">
            <div>
                <abp-input asp-for="PaymentThreshold" />
            </div>
            <hr class="my-4" />
            <div>
                <abp-button button-type="Primary" type="submit">
                    <i class="fa fa-save"></i> @L["Save"]
                </abp-button>
            </div>
        </abp-column>
    </abp-row>
</form>