@page
@model Unity.Reporting.Web.Pages.ReportViewSync.ReportViewSyncModalModel
@{
    Layout = null;
}

<form method="post" asp-page-handler="OnPostAsync">
    <abp-modal size="Small">
        <abp-modal-header title="Run Sync Job"></abp-modal-header>
        <abp-modal-body>
            <div class="form-group">
                <label>Select an Option:</label>
                <div>
                    <input type="radio" id="syncWorksheetFields" name="SelectedOption" value="SyncWorksheetFields" checked />
                    <label for="syncWorksheetFields">Sync Worksheet Fields</label>
                </div>
                <div>
                    <input type="radio" id="syncWorksheetData" name="SelectedOption" value="SyncWorksheetData" />
                    <label for="syncWorksheetData">Sync Worksheet Values</label>
                </div>
                <div>
                    <input type="radio" id="syncScoresheetFields" name="SelectedOption" value="SyncScoresheetFields" />
                    <label for="syncScoresheetFields">Sync Scoresheet Questions</label>
                </div>
                <div>
                    <input type="radio" id="syncScoresheetData" name="SelectedOption" value="SyncScoresheetData" />
                    <label for="syncScoresheetData">Sync Scoresheet Answers</label>
                </div>
                <div>
                    <input type="radio" id="syncSubmissionFields" name="SelectedOption" value="SyncSubmissionFields" />
                    <label for="syncSubmissionFields">Sync Submission Fields</label>
                </div>
                <div>
                    <input type="radio" id="syncSubmissionData" name="SelectedOption" value="SyncSubmissionData" />
                    <label for="syncSubmissionData">Sync Submission Data</label>
                </div>
            </div>
            <div class="form-group">
                <abp-input asp-for="@Model.TenantId" name="TenantId" placeholder="Optional Tenant Id" />
            </div>
        </abp-modal-body>
        <abp-modal-footer>
            <abp-button data-busy-text="Processing..."
                        class="btn btn-primary"
                        text="Run"
                        type="submit">
            </abp-button>
            <abp-button class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        text="Cancel"
                        data-dismiss="modal">
            </abp-button>
        </abp-modal-footer>

    </abp-modal>
</form>
