.drop-layout {
    height: 464px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: fit-content;
}

.published-forms-col {
    height: 100%;
    flex: 0.5;
    padding: 5px;
}

.available-worksheets {
    border: 1px solid gray;
    border-radius: 5px;
    height: calc(100% - 25px);
    overflow-y: auto;
}

.slots-col {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
    min-height: fit-content;
}

.single-slot {
    height: 40px;
    width: 98%;
    border: 1px solid gray;
    margin: 0px 5px 5px;
    border-radius: 5px;
    padding: 2px;
}


.multi-slot {
    min-height: 47px;
    height: auto;          /* allows container to naturally grow with content */
    overflow-y: auto;      /* enables scrolling if content exceeds container height */
    width: 98%;
    border: 1px solid gray;
    margin: 0px 5px 5px;
    border-radius: 5px;
    resize: vertical;      /* user can resize down or up manually */
    display: flex;         /* children stack */
    flex-direction: column;
    gap: 10px;             /* spacing between items */
    padding: 10px;
}

.multi-slot:has(*) {
    min-height: fit-content;
}

.form-label .slot-title {
    margin-left: 5px;
    font-weight: bold;
    color: var(--bc-colors-blue-background, #38598A);
}

.draggable-card {
    margin: 0.2rem;
    padding: 0.2rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 98%;
    cursor: grab;
    background-image: linear-gradient(135deg, #f9f9fb 10%, #38598A 900%);
}

.dragging {
    opacity: 0.5;
}

.scoresheets {
    display: block;
    margin-top: 12px;
}
.save-note {
    border: 2px solid;
    border-color: var(--bc-colors-blue-primary);
    text-align: center;
    padding-top: 1rem;
    background-color: var(--bc-colors-blue-hover);
    border-radius: 5px;
}

.button-row {
    display: block;
}

.custom-fields-container {
    overflow: auto;
    height: calc(100vh - 250px);
}