@page "{submissionId?}"
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantApplications
@using Microsoft.Extensions.Localization
@model DetailsModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    // TODO
    PageLayout.Content.Title = L["Grants"].Value;
}
@section styles
{
    <abp-style src="/libs/formiojs/formio.form.css" />
    <abp-style src="/Pages/GrantApplications/Details.css" />
}
@section scripts
{
    <abp-script src="/Pages/GrantApplications/Details.js" />
    <abp-script src="/libs/formiojs/formio.form.js" />
}


<abp-tabs name="TabId" class="nav-justified">
    <abp-tab name="nav-summerry" active="true" title="Application Summary">
         <abp-row>
                <abp-column size="_12" class="spinner-loader">
                <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        </abp-column>
        </abp-row>
        <div class="container-fluid">
            <abp-row>
                <abp-column size="_12">

                    @*TODO: Put FormIO handler here!*@
                    <div id="formio"></div>

                </abp-column>

            </abp-row>
        </div>
    </abp-tab>
    <abp-tab name="nav-review-and-adudication" title="Review & Adjudication">
        Review & Adjudication View
    </abp-tab>
    <abp-tab name="nav-approval" title="Approval">
        Approval View
    </abp-tab>
</abp-tabs>

