@page
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantApplications
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.GrantApplications";
    PageLayout.Content.Title = L["Applications"].Value;
}
@section scripts
    {
    <abp-script src="/Pages/GrantApplications/Index.js" />
}

<abp-card>
    <abp-card-header>
        <h2>Grant Applications</h2>
    </abp-card-header>
    <abp-card-body>        
        <table id="grantApplicationsTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>Created</th>                    
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>Created</th>
                </tr>
            </tfoot>
        </table>
    </abp-card-body>
</abp-card>
