@page

@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantApplications
@using Microsoft.Extensions.Localization

@model IndexModel

@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.GrantApplications";
    PageLayout.Content.Title = L["Applications"].Value;
    ViewBag.PageTitle = "Applications";
}

@section scripts
{
    <abp-script src="/libs/select2/js/select2.full.min.js" />
    <abp-script src="/Pages/GrantApplications/Index.js" />
}

@section styles {
    <abp-style src="/Pages/GrantApplications/Index.css" />
}

<div class="container-fluid px-2 container-grant-application">
    @await Component.InvokeAsync("ActionBar")
    <div class="application-scrollable-content">
        <abp-table id="GrantApplicationsTable"></abp-table>
    </div>
</div>
