@page "{formId:guid?}"
@using Unity.GrantManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Unity.GrantManager.Web.Pages.GrantApplications
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GrantManagerResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "GrantManager.GrantApplications";
    PageLayout.Content.Title = L["Applications"].Value;
    ViewBag.UserName = "Test User";
    ViewBag.PageTitle = "Teleportation Ministry Grant Program";
}
@section scripts
{
    @if (Model.FormId == null)
    {
        <abp-script src="/Pages/GrantApplications/Index.js" />
    }
    else
    {

        <abp-script src="/Pages/GrantApplications/Intake.js" />
    }
}

<div class="container-fluid px-2">
    <div class="d-flex my-1 p-2 justify-content-between">
        <div class="d-flex">
            <abp-button id="ApplicationOpenButton"
                        text="@L["ApplicationOpenButton"].Value"
                        icon-type="Other"
                        icon="fl fl-mini-contract-2-mirrored"
                        button-type="Light" />
            <abp-button class="mx-2" id="ApplicationAssignButton"
                        text="@L["ApplicationAssignButton"].Value"
                        icon-type="Other"
                        icon="fl fl-add-friend"
                        button-type="Light" />
        </div>
        <div>
            <abp-button id="ApplicationInfoButton"
                        text="@L["ApplicationInfoButton"].Value"
                        icon-type="Other"
                        icon="fl fl-open-pane"
                        button-type="Light" />
        </div>
    </div>
    <abp-table id="GrantApplicationsTable"></abp-table>
</div>

<input type="hidden" id="PassFormIdToJavaScript" value=@Model.FormId>
