table.dataTable>tbody>tr.odd.selected>* {
    box-shadow: inset 0 0 0 9999px rgba(242, 248, 252, 0.95) !important;
    color: #003366;
}

table.dataTable>tbody>tr.even.selected>* {
    box-shadow: inset 0 0 0 9999px rgba(230, 239, 247, 0.95) !important;
    color: #003366;
}

table.dataTable>tbody>tr.odd.selected>.select-checkbox {
    color: white;
}

table.dataTable>tbody>tr.even.selected>.select-checkbox {
    color: white;
}


table.dataTable>tbody>tr>td.select-checkbox:before,
table.dataTable>tbody>tr>th.select-checkbox:before {
    border: 1px solid #1A5A96;
    border-radius: 26px;
    color: white;
    width: 22px;
    height: 22px;
    margin-top: -10px;
}

table.dataTable>tbody>tr>td.select-checkbox:before:hover,
table.dataTable>tbody>tr>th.select-checkbox:before:hover {
    border: 1px solid #1A5A96;
}

table.dataTable>tbody>tr.selected>td.select-checkbox:before,
table.dataTable>tbody>tr.selected>th.select-checkbox:before {
    background-color: #1A5A96;
}


table.dataTable>tbody>tr.selected>td.select-checkbox:after,
table.dataTable>tbody>tr.selected>th.select-checkbox:after {
    content: "✓";
    font-size: 16px;
    margin-top: -10px;
    margin-left: -1px;
    text-align: center;
}

table.dataTable thead>tr>th.sorting,
table.dataTable thead {
    font-family: var(--bs-body-font-family);
    font-size: 14px;
    font-weight: 600;
    color: #003366;
}