.unity-app-main-container {
    margin: auto;
    display: block;
}

.portal-settings-layout {
    min-height: calc(100vh - 200px);
}

#PortalSettingsSideMenu.side-menu {
    position: sticky;
    top: 150px;
}

#PortalSettingsSideMenu ul {
    padding-left: 0;
}

#PortalSettingsSideMenu li {
    height: 40px;
    padding: 10px;
    border-radius: 0 100em 100em 0;
}

#PortalSettingsSideMenu .nav-item {
    justify-content: left;
}

.portal-settings-config {
    overflow: auto;
    max-width: 750px;
    max-height: calc(100vh - 180px);
    width: 100%;
}

.portal-settings-actions {
    background: #fff;
}

.portal-status-table th {
    font-weight: 600;
    border-bottom: 2px solid #dee2e6;
}

.portal-status-table td {
    vertical-align: middle;
}

.portal-status-table label {
    margin-bottom: 0;
    font-weight: 400;
}

.portal-status-table .form-control {
    max-width: 300px;
}

#PortalStatusForm .dt-container {
    max-height: none !important;
}

.breadcrumb-container {
    background-color: #fff;
    margin: 0 -0.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    margin-top: 1px;
}