/** Segoe Fluent Icons*/


@font-face {
    font-family: 'Segoe-Fluent-Icons';
    src: url('fonts/icons/Segoe-MDL2-Assets.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.fl {
    font-family: 'Segoe-Fluent-Icons';
    font-weight: 100;
    font-style: normal;
}

/*GID624 : U+EA37*/
.fl-list:before {
    content: '\EA37';
}

.fl-history:before {
    content: '\E81C';
}

/*GID362 : U+E16C*/ /**!!**/
.fl-attach:before {
    content: '\E723';
}

/*GID147 : U+E1FD*/
.fl-down:before {
    content: '\E74B';
}

/*GID27 : U+E760*/
.fl-page-left:before {
    content: '\E760';
}

/*GID27 : U+E761*/
.fl-page-right:before {
    content: '\E761'
}

/*GID146 : U+E110*/
.fl-up:before {
    content: '\E74A';
}

/*GID313 : U+E118*/
.fl-download:before {
    content: '\E896';
}

/*GID315 : U+E11C*/
.fl-upload:before {
    content: '\E898';
}

/*GID690 : U+EAC2*/
.fl-resize-touch-shorter:before {
    content: '\E7EB';
}

/*GID1158 : U+E25B*/
.fl-status-circle-block:before {
    content: '\F140';
}

/*GID450 : U+E019*/
.fl-chevron-down:before {
    content: '\E70D';
}

/*GID450 : U+E019*/
.fl-chevron-down-small:before {
    content: '\E96E';
}

/*GID1393 : U+F743*/
.fl-chevron-left:before {
    content: '\E76B';
}

/*GID1391 : U+F745*/
.fl-chevron-right:before {
    content: '\E76C';
}

/*GID549 : U+E019*/
.fl-chevron-up:before {
    content: '\E70E';
}

/*GID206 : U+F78C*/
.fl-checkmark:before {
    content: '\E73E';
}

/*GID1517 : U+F78A*/
.fl-cancel:before {
    content: '\E711';
}

/*Close Panel GID : U+E126*/
.fl-close-panel:before {
    content: '\E89F';
}

/*GID144 : U+E871*/
.fl-back-to-window:before {
    content: '\E73F';
}

/*GID930 : U+ED0D*/
.fl-action-center:before {
    content: '\E91C';
}

/*GID352 : U+E15F*/
.fl-chat:before {
    content: '\E8F2';
}

/*GID9 : U+E119*/
.fl-mail:before {
    content: '\E715';
}

/*GID145 : U+E1D9*/
.fl-full-screen:before {
    content: '\E740';
}

/*GID308 : U+F78D*/
.fl-view:before {
    content: '\E890';
}

/*GID11 : U+E16E*/
.fl-filter:before {
    content: '\E71C';
}

/*GID939 : U+ED25*/
.fl-open-folder:before {
    content: '\ED25';
}

/*GID841 : U+EC25*/
.fl-personal-folder:before {
    content: '\EC25';
}

.fl-settings:before {
    content: '\E713';
}

.fl-view-dashboard:before {
    content: '\F246';
}

.fl-bank:before {
    content: '\E825';
}

.fl-other-user:before {
    content: '\E7EE';
}

.fl-bullseye:before {
    content: '\F272';
}

.fl-lexicon:before {
    content: '\F180';
}

.fl-street:before {
    content: '\E913';
}

.fl-unknown:before {
    content: '\E9CE';
}

.fl-search:before {
    content: '\E721';
}

.fl-mapinfo:before {
    content: '\E816';
}

.fl-add-to:before {
    content: '\ECC8';
}

.fl-open-pane:before {
    content: '\E8A0';
}

.fl-mini-contract-2-mirrored:before {
    content: '\EE49';
}

.fl-add-friend:before {
    content: '\E8FA';
}

.fl-dislike:before {
    content: '\E8E0';
}

.fl-like:before {
    content: '\E8E1';
}

.fl-startpoint:before {
    content: '\E819';
}

.fl-endpoint:before {
    content: '\E81B';
}

.fl-player-settings:before {
    content: '\EF58';
}

.fl-sort:before {
    content: '\E8CB';
}

.fl-review:before {
    content: '\F32A';
}

.fl-review-list:before {
    content: '\EA4A';
}

.fl-history:before {
    content: '\E81C';
}

.fl-comments:before {
    content: '\E15F';
}

.fl-link:before {
    content: '\E167';
}

.fl-paperclip:before {
    content: '\E16C';
}

.fl-review-user:before {
    content: '\E1A6';
}

.fl-plus:before {
    content: '\E109';
}

.fl-tick:before {
    content: '\F78C';
}

.fl-cross:before {
    content: '\F78A';
}

.fl-completed:before {
    content: '\E930';
}

.fl-remove-friend:before {
    content: '\E8F8';
}

.fl-save:before {
    content: '\E74E';
}

.fl-synch:before {
    content: '\E895';
}

.fl-undo:before {
    content: '\E7A7';
}


.fl-edit:before {
    content: '\E70F';
}

.fl-export:before {
    content: '\EDE2';
}

.fl-import:before {
    content: '\EA52';
}

.fl-pdf:before {
    content: '\EA90';
}

.fl-attachment-more:before {
    content: '\E712';
}

.fl-attachment:before {
    content: '\E723';
}

.fl-send:before {
    content: '\E724';
}

.fl-send-mirrored:before {
    content: '\EA63';
}

.fl-checkbox-checked:before {
    content: '\E73A';
}

.fl-tag:before {
    content: '\E8EC';
}

.fl-copy:before {
    content: '\E8C8';
}

.fl-update-restore:before {
    content: '\E777';
}

.fl-red-eye:before {
    content: '\E7B3';
}

.fl-delete:before {
    content: '\E74D';
}

.fl-phone:before {
    content: '\E717';
}

.fl-work:before {
    content: '\E821';
}

.fl-clear:before {
    content: '\E894';
}

.fl-arrow-right:before {
    content: '\F0AF';
}

.fl-arrow-left:before {
    content: '\F0B0';
}

.fl-draggable:before {
    content: '\E76F';
}

.fl-datetime:before {
    content: '\EC92';
}

.fl-font:before {
    content: '\E8D2';
}

.fl-radio:before {
    content: '\ECCB';
}

.fl-multi-select:before {
    content: '\E762';
}

.fl-globe:before {
    content: '\E774';
}

.fl-text-area:before {
    content: '\E7BC';
}