@page
@model Unity.GrantManager.Web.Pages.Dashboard.IndexModel
@using Unity.GrantManager.Web.Pages.Dashboard
@{
}
@section styles {
    <abp-style src="/Pages/Dashboard/Index.css" />
}
@section scripts
{
    <abp-script src="/Pages/Dashboard/Index.js" />
}


<div class="row col-md-12 application-dashboard">
    <div class="col-md-4 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            
            <abp-card-body>
                <canvas id="applicationStatusChart"></canvas>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <canvas id="sectorChart"></canvas>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <canvas id="economicRegionChart"></canvas>
            </abp-card-body>
        </abp-card>
    </div> 
</div>