@page
@model Unity.GrantManager.Web.Pages.Dashboard.IndexModel
@using Unity.GrantManager.Web.Pages.Dashboard
@{
}
@section styles {
    <abp-style src="/Pages/Dashboard/Index.css" />
}
@section scripts
{
    <abp-script src="/Pages/Dashboard/Index.js" />
}


<div class="application-dashboard">
    <canvas id="economicRegionChart"></canvas>
</div>
