@page
@model Unity.GrantManager.Web.Pages.Dashboard.IndexModel
@using Unity.GrantManager.Web.Pages.Dashboard
@{
}
@section styles {
    <abp-style src="/Pages/Dashboard/Index.css" />
}
@section scripts
{
    <abp-script src="/Pages/Dashboard/Index.js" />
}


<div class="row col-md-12 application-dashboard">
    <div class="col-md-6 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <div id="applicationStatusChart"></div>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <div id="sectorChart"></div>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-12 p-2 card-border-radius">
        <abp-card>
            <abp-card-body>
                <div id="economicRegionChart"></div>
            </abp-card-body>
        </abp-card>
    </div> 
</div>