@using Unity.Flex.Web.Views.Shared.Components.DataGridWidget;

@model DataGridViewModel;

<abp-row class="m-0 p-0">
    <table style="border: 1px solid black;">
        <thead>
            <tr>
                <th>Name</th>
                <th>LastName</th>
                <th>DOB</th>
                <th>Requested Amount</th>
                <th>Approved Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>1990-01-01</td>
                <td>$1000</td>
                <td>$900</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Smith</td>
                <td>1985-05-15</td>
                <td>$2000</td>
                <td>$2000</td>
            </tr>
            <tr>
                <td>Michael</td>
                <td>Brown</td>
                <td>1992-07-23</td>
                <td>$1500</td>
                <td>$1000</td>
            </tr>
            <tr>
                <td>Emily</td>
                <td>Davis</td>
                <td>1988-03-12</td>
                <td>$3000</td>
                <td>$2500</td>
            </tr>
            <tr>
                <td>Chris</td>
                <td>Johnson</td>
                <td>1995-09-30</td>
                <td>$500</td>
                <td>$500</td>
            </tr>
        </tbody>
    </table>
</abp-row>
