@page
@model Unity.GrantManager.Web.Pages.Account.AccessDeniedModel
@using Microsoft.AspNetCore.Mvc.Localization
@*@using Volo.Abp.Account.Localization
@inject IHtmlLocalizer<AccountResource> L*@

<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <h4>Access Denied To This Page</h4>
        <form method="post" class="mt-4">
            <p>Access Denied To This Page</p>            
        </form>
    </div>
</div>
