@page
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@model Unity.GrantManager.Web.Pages.Errors.IndexModel
@inject IPageLayout PageLayout
@{
    Layout = null;
}
<div class="home-container">
    You do not have access to any grant programs, access needs to be requested.
</div>