@page
@using Unity.GrantManager.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@using Unity.GrantManager.Web.Pages.GrantApplications;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;

@model Unity.GrantManager.Web.Pages.ApplicationContact.EditContactModal

@inject IStringLocalizer<GrantManagerResource> L
@{
    Layout = null;
}

<abp-dynamic-form abp-model="ContactForm" asp-page="/ApplicationContact/EditContactModal" >
    <abp-modal>
        <abp-modal-header title="@L["ApplicationContact:EditTitle"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
            <div class="d-flex justify-content-end pb-4 pt-2">
                <abp-button text="Delete This Contact"
                    id="DeleteContactButton"
                    class="delete_contact_btn"
                    icon-type="Other"
                    icon="fl fl-clear"
                    button-type="Light" />
            </div>
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn btn-primary" data-busy-text="Saving..." type="submit">Save</button>
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        </abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>
