@using Unity.GrantManager.Web.Views.Shared.Components.ApplicantOrganizationInfo

@model ApplicantOrganizationInfoViewModel

@{
    Layout = null;
}

<input type="hidden" id="ApplicantOrganizationInfo_ApplicantId" value="@Model.ApplicantId" />

@if (Model.ApplicantId != Guid.Empty)
{
    <abp-row class="px-1 pb-2 mb-4 payment-info-container">
        @* Basic Organization Information *@
        <abp-row id="organization-info-widget" class="m-0 p-0 payment-info-supplier">
            <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 px-0">
                <abp-row class="m-0 org-info-summary">
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 project-location">
                            <div id="OrganizationInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
                                <h6 class="fw-bold">Organization Summary</h6>
                            </div>
                        </abp-column>
                    </abp-row>
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="px-1">
                            <abp-row class="m-0 p-0">
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="ApplicantName" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="UnityApplicantId" label="Unity Applicant ID" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="OrgNumber" disabled />
                                </abp-column>                                
                            </abp-row>
                            <abp-row class="m-0 p-0">
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="BusinessNumber" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="OrgStatus" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="OrganizationType" disabled />
                                </abp-column>
                            </abp-row>
                            <abp-row class="m-0 p-0">
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="OrganizationSize" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="Status" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="NonRegisteredBusinessName" disabled />
                                </abp-column>
                            </abp-row>
                            <abp-row class="m-0 p-0">
                                <abp-column size="_6" class="px-1">
                                    <abp-input asp-for="NonRegOrgName" disabled />
                                </abp-column>
                                <abp-column size="_6" class="px-1">
                                    <abp-input asp-for="ApproxNumberOfEmployees" disabled />
                                </abp-column>
                            </abp-row>
                        </abp-column>
                    </abp-row>
                </abp-row>
            </abp-column>
        </abp-row>

        @* Sector Information *@
        <abp-row id="sector-info-widget" class="m-0 p-0 payment-info-supplier">
            <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 px-0">
                <abp-row class="m-0 org-info-summary">
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 project-location">
                            <div id="SectorInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
                                <h6 class="fw-bold">Sector Information</h6>
                            </div>
                        </abp-column>
                    </abp-row>
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="px-1">
                            <abp-row class="m-0 p-0">
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="Sector" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="SubSector" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <div class="switch-container">
                                        <div class="px-3 form-check unt-form-switch form-switch">
                                            <abp-input type="checkbox" asp-for="IndigenousOrgInd" disabled />
                                        </div>
                                    </div>
                                </abp-column>
                            </abp-row>
                            <abp-row class="m-0 p-0">
                                <abp-column size="_12" class="px-1">
                                    <abp-input asp-for="SectorSubSectorIndustryDesc" disabled />
                                </abp-column>
                            </abp-row>
                        </abp-column>
                    </abp-row>
                </abp-row>
            </abp-column>
        </abp-row>

        @* Financial Information *@
        <abp-row id="financial-info-widget" class="m-0 p-0 payment-info-supplier">
            <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 px-0">
                <abp-row class="m-0 org-info-summary">
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 project-location">
                            <div id="FinancialInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
                                <h6 class="fw-bold">Financial Information</h6>
                            </div>
                        </abp-column>
                    </abp-row>
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="px-1">
                            <abp-row class="m-0 p-0">
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="FiscalMonth" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="FiscalDay" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="StartedOperatingDate" disabled />
                                </abp-column>
                            </abp-row>
                        </abp-column>
                    </abp-row>
                </abp-row>
            </abp-column>
        </abp-row>

        @* Payment Information *@
        <abp-row id="payment-info-widget" class="m-0 p-0 payment-info-supplier">
            <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 px-0">
                <abp-row class="m-0 org-info-summary">
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 project-location">
                            <div id="PaymentInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
                                <h6 class="fw-bold">Payment Information</h6>
                            </div>
                        </abp-column>
                    </abp-row>
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="px-1">
                            <abp-row class="m-0 p-0">
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="SupplierId" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="SiteId" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="ElectoralDistrict" disabled />
                                </abp-column>
                            </abp-row>
                        </abp-column>
                    </abp-row>
                </abp-row>
            </abp-column>
        </abp-row>

        @* Status Information *@
        <abp-row id="status-info-widget" class="m-0 p-0 payment-info-supplier">
            <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 px-0">
                <abp-row class="m-0 org-info-summary">
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="d-inline-flex justify-content-between pb-3 pt-2 project-location">
                            <div id="StatusInfoTitleRegion" class="d-flex align-items-stretch justify-content-start">
                                <h6 class="fw-bold">Status Information</h6>
                            </div>
                        </abp-column>
                    </abp-row>
                    <abp-row class="m-0 p-0">
                        <abp-column size="_12" class="px-1">
                            <abp-row class="m-0 p-0">
                                <abp-column size="_4" class="px-1">
                                    <abp-input asp-for="MatchPercentage" disabled />
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <div class="switch-container">
                                        <div class="px-3 form-check unt-form-switch form-switch">
                                            <abp-input type="checkbox" asp-for="IsDuplicated" disabled />
                                        </div>
                                    </div>
                                </abp-column>
                                <abp-column size="_4" class="px-1">
                                    <div class="switch-container">
                                        <div class="px-3 form-check unt-form-switch form-switch">
                                            <abp-input type="checkbox" asp-for="RedStop" disabled />
                                        </div>
                                    </div>
                                </abp-column>
                            </abp-row>
                        </abp-column>
                    </abp-row>
                </abp-row>
            </abp-column>
        </abp-row>
    </abp-row>
}
else
{
    <div class="alert alert-warning">
        Applicant information not found.
    </div>
}
