@page
@using Microsoft.Extensions.Localization
@using Unity.Flex.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@model Unity.Flex.Web.Pages.Flex.EditDataRowModalModel;

@inject IStringLocalizer<FlexResource> L
@{
    Layout = null;
}

<form method="post" asp-page-handler="OnPostAsync" id="editRowData" spellcheck="false">
    <abp-input type="hidden" id="fieldId" asp-for="@Model.FieldId" />
    <abp-input type="hidden" id="rowNumber" asp-for="@Model.Row" />

    <abp-modal size="Large" id="custom-field-info-modal">
        <abp-modal-header class="custom-field-info-modal-header" title="Edit"></abp-modal-header>
        <abp-modal-body>
            <p>There be dragons here</p>
        </abp-modal-body>
        <abp-modal-footer>
            <button type="submit" class="btn btn-primary" name="saveRowValues" value="save">@AbpModalButtons.Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@AbpModalButtons.Cancel</button>
        </abp-modal-footer>
    </abp-modal>
</form>

<script>
</script>
