<div class="px-3 d-flex flex-row justify-content-end align-items-end mb-3">
    <button type="button" class="btn unt-btn-outline-primary btn-outline-primary me-2" id="btn-toggle-filter-assessment-attachments" title="Filter">
        <span>Filter</span>
    </button>
</div>

<div class="px-3">
    <abp-table id="AssessmentResultAttachmentsTable" hoverable-rows="true" data-resize-aware="true" class="assessment-attachment-table attachments-table"></abp-table>
</div>
