<div class="attachments__title-button-split">
    <div class="attachments__title-header">
        <h6 class="fw-bold px-3 pt-4 pb-2 m-0">Scoring Attachments</h6>
    </div>
    <div class="attachments__button-section me-3"></div>
</div>
<div class="px-3">
    <abp-table id="AssessmentResultAttachmentsTable" hoverable-rows="true" data-resize-aware="true" class="assessment-attachment-table attachments-table"></abp-table>
</div>

