.dataTables_wrapper .dataTables_scrollHead {
    background-color: transparent;
}

.submissionSummaryFilterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

label {
    font-size: 0.8rem;
    margin: 0px !important;
}

.form-control {
    font-size: 0.8rem;
    border: 2px solid rgb(46, 93, 215);
}

.abp-application-layout {
    overflow-y: scroll;
}

.unity-app-container {
    height: auto;
    min-height: calc(100vh - 6.75rem);
}
