@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Brand

<nav class="navbar navbar-expand-md shadow-sm flex-column flex-md-row unity-sub-navbar" id="sub-navbar">
    <div class="container-fluid">
        <h6>Teleportation Ministry Grant Program</h6>
        <div>search input</div>
        <div class="d-flex">
            <div class="mx-2">se</div>
            <div class="mx-2">he</div>
            <div class="mx-2">ac</div>
        </div>
    </div>
</nav>
