@using Unity.GrantManager.Localization;
@using Microsoft.Extensions.Localization;
@using Unity.GrantManager.Web.Views.Shared.Components.ApplicationActionWidget;

@inject IStringLocalizer<GrantManagerResource> L

<div class="action-bar p-2 fade-in-load" id="detailsActionBar">
    <div id="DetailsActionBarStart" class="d-flex align-items-stretch justify-content-start gap-2">
        <div class="order-first">
            @await Component.InvokeAsync(typeof(ApplicationActionWidget), new { applicationId = @Model.ApplicationId })
        </div>
        @* Items are included here through the Review List JS*@   
    </div>
    <div id="DetailsActionBarEnd" class="d-flex align-items-stretch justify-content-end gap-2 margin-left-auto">
        <abp-button id="tagApplication"
                    data-selector="applications-table-actions"
                    text="@L["ApplicationList:ManageTagButton"].Value"
                    icon-type="Other"                   
                    button-type="Light" />
    </div>
</div>
