
@using Microsoft.AspNetCore.Authorization;
@using Unity.GrantManager.Localization;
@using Microsoft.Extensions.Localization;
@using Unity.GrantManager.Permissions;

@inject IStringLocalizer<GrantManagerResource> L
@inject IAuthorizationService AuthorizationService

<div class="action-bar p-2">
    <div id="DetailsActionBarStart" class="d-flex align-items-stretch justify-content-start gap-2">
        @* Items are included here through the Review List JS*@
    </div>
    <div id="DetailsActionBarEnd" class="d-flex align-items-stretch justify-content-end gap-2">
        <abp-button text="@L["ApplicationList:CopyLinkButton"].Value"
                    disabled="true"
                    icon-type="Other"
                    icon="fl fl-link"
                    button-type="Light" />

        <abp-button text="@L["ApplicationList:DownloadButton"].Value"
                    disabled="true"
                    icon-type="Other"
                    icon="fl fl-download"
                    button-type="Light" />
    </div>
</div>