
<div class="action-bar">
    <div class="action-bar-left" >        
        <div class="action-button-wrapper">
            <abp-button class="active-list" id="approveApplicationsDetails" icon="thumbs-up" text="Approved" />
        </div>
        <div class="action-button-wrapper">
            <abp-button class="active-list" id="dontApproveApplicationsDetails" icon="thumbs-down" text="Not Approved" />
        </div>
        <div class="action-button-wrapper">
            <abp-button class="active-list" disabled="true" icon="link" text="Copy link" />

        </div>
        <div  class="action-button-wrapper">
            <abp-button class="active-list" disabled="true" icon="download" text="Download" />
        </div>
    </div>
    
</div>