<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Unity.ApplicantPortal.Web.dll" stdoutLogEnabled="true" stdoutLogFile="..\Log\stdout-web" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline'; img-src 'self' data:;" />
          <add name="X-XSS-Protection" value="1; mode=block" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <system.web>
    <customErrors defaultRedirect="/Error" mode="RemoteOnly">
      <error statusCode="404" redirect="/NotFound"/>
      <error statusCode="500" redirect="/Error"/>
    </customErrors>
  </system.web>
</configuration>
