
.history-lbl {
    display: block;
    margin-top: 0.25rem;
    width: 99%;
    max-height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    font-size: var(--bc-font-size);
}

.history-lbl-wrapper {
    color: #666666;
    font-size: 0.89rem;
    font-weight: 400;
    word-wrap: break-word;
}

.unity-history-block {
    background: #D8EAFD;
    padding: 0.75rem 0.5rem 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: var(--bc-font-size);
    color: var(--bc-colors-grey-text-300);
    flex: 1;
    width: 90%;
}

.unity-history-block .commented-time {
    font-size: 0.875rem;
}

.history-read-mode {
    display: flex;
}

.history-name {
    font-size: var(--bc-font-size);
}

.status-change {
    color: #053662;
    font-weight: 800;
}

.history-time {
    padding-top: 0.1rem;
    font-size: var(--bc-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    color: var(--bc-colors-grey-text-300, #666);
}

.card-title {
    font-size: calc(1.1rem + 0.3vw);
}
