/* Your Global Styles */

:root {
    --lpx-brand: #FCBA19;
    --lpx-primary: #003366;
    --lpx-secondary: #38598A;
    --lpx-success: #2E8540;
    --lpx-light: #eeeeee;
    --lpx-info: #438aa7;
    --lpx-danger: #D8292F;
    --lpx-warning: #ff9f38;
}

:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/bcgov/BCID_H_rgb_pos.png');
    --lpx-logo-icon: url('/images/logo/bcgov/BCID_V_rgb_pos.png');
}

:root .lpx-brand-logo {
    background-size: 220px 99px;
    height: 79px;
    margin: 0px;
    margin-top: -30px;
}


.lpx-topbar-container .lpx-topbar {
    border-radius: 0;
}

.lpx-sidebar {
    background-color: #F2F2F2;
}

.lpx-sidebar .lpx-logo-container {
    background-color: #fff;
}

.lpx-sidebar-container .lpx-sidebar .lpx-nav .lpx-nav-menu {
    background-color: #F2F2F2;
}

.lpx-nav-menu .lpx-menu-item-link {
    color: #003366;
}

.lpx-menu-item:hover {
    color: #fcba19 !important;
}

.lpx-nav-menu .lpx-menu-item-link:hover {
    color: #fcba19 !important;
}

.lpx-nav-menu .lpx-menu-item-link.selected {
    color: #fff;
    background-color: #003366;
}

inner-menu-item .lpx-menu-item-link:hover {
    background-color: #38598A;
}

.lpx-nav-menu .lpx-inner-menu-item .lpx-menu-item-link.selected, .lpx-nav-menu .lpx-inner-menu-item .lpx-menu-item-link:hover {
    background-color: #38598A;
}

.lpx-nav .lpx-nav-menu {
    margin-top: 20px;
}

.lpx-topbar-container .lpx-topbar {
    display: none;
}

.lpx-topbar-container {

    height: 90px;
    background-color: white;
}

.lpx-content-container {
    background-color: #F2F2F2;
}