#assessment-scoresheet #section-button::after {
    -webkit-filter: grayscale(1) invert(0);
    filter: grayscale(1) invert(0);
}

#assessment-scoresheet #section-button:not(.collapsed)::after {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

#assessment-scoresheet .preview-btn:not(.collapsed) {
    background-color: #007bff;
    color: #ffffff;
}

.assessment-sum{
    margin-top :2px;
}
