{
    "webapp.url": "https://test-unity.apps.silver.devops.gov.bc.ca/",
    "environment": "TEST",
    "test1username": "",
    "test1password": "",
    "test2username": "",
    "test2password": "",
    "TEST_EMAIL_TO": "",
    "TEST_EMAIL_CC": "",
    "TEST_EMAIL_BCC": ""
}
